/*
 |--------------------------------------------------------------------------
 |  Default Grid Settings
 |--------------------------------------------------------------------------
 */

$bk-grid-settings-custom: () !default;
$bk-grid-settings: (
  cssgrid: true,
  cssgrid-fallback: true,
  flexboxgrid: false,
  testing: true,
  prefix: 'o',
  units: (
    gutter: 8px,
    gutter-min-factor: 1,
    gutter-max-factor: 2,
    gutter-min-vertical-factor: 1,
    gutter-max-vertical-factor: 2
  ),
  breakpoints: (
    min: (from: 320px, to: 399px, cols: 6),
    xs:  (from: 400px, to: 599px, cols: 6),
    s:   (from: 600px, to: 799px, cols: 24),
    m:   (from: 800px, to: 999px, cols: 24),
    l:   (from: 1000px, to: 1439px, cols: 48),
    max: (from: 1440px, to: 0, cols: 48)
  )
);

// Merge Custom Map into Default Map
$bk-grid-settings: map-merge($bk-grid-settings, $bk-grid-settings-custom);

// Check if Breakpoints exits
@if map-has_key($bk-grid-settings-custom, breakpoints) {

  $bk-breakpoints-map: map-deep-get($bk-grid-settings-custom, breakpoints);
  $bk-breakpoints-custom: (breakpoints: map-deep-get($bk-grid-settings-custom, breakpoints));

  @if map_has_key($bk-breakpoints-map, min) and map_has_key($bk-breakpoints-map, max) {
    $bk-grid-settings: map_remove($bk-grid-settings, breakpoints);
    $bk-grid-settings: recursive-map-merge($bk-grid-settings, $bk-breakpoints-custom);
  } @else {
    @error 'You have to set a "min" and "max" Breakpoint within your custom settings!';
  }
}
