/*
 |--------------------------------------------------------------------------
 |  Center Mixin
 |--------------------------------------------------------------------------
 */

@mixin center {
  margin-left: auto;
  margin-right: auto;
}


/*
 |--------------------------------------------------------------------------
 |  Fluid Mixin
 |--------------------------------------------------------------------------
 */

// Mixin
@mixin fluid($min-value, $max-value, $properties: null, $min-vw: $bk-minWidth, $max-vw: $bk-maxWidth) {
  @if ($properties != null) {
    @each $property in $properties {
      #{$property}: $min-value;
    }

    @media screen and (min-width: $min-vw) {
      @each $property in $properties {
        #{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * (100vw - #{$min-vw}) / (#{strip-unit($max-vw - $min-vw)}));
      }
    }

    @media screen and (min-width: $max-vw) {
      @each $property in $properties {
        #{$property}: $max-value;
      }
    }
  }
}

// Shorthand Version
@mixin f($args...) {
  @include fluid($args...);
}


/*
 |--------------------------------------------------------------------------
 |  Make Col Padding Mixin
 |--------------------------------------------------------------------------
 */

// Mixin
@mixin make-col-padding($factor: 1) {
  $gutterMin: $factor * $bk-gutterMin;
  $gutterMax: $factor * $bk-gutterMax;

  @include f($gutterMin, $gutterMax, padding-left padding-right);
}

// Shorthand Version
@mixin col-padding($args...) {
  @include make-col-padding($args...);
}


/*
 |--------------------------------------------------------------------------
 |  Make Col Position Mixin
 |--------------------------------------------------------------------------
 */

// Mixin
@mixin make-col-pos($cols: auto, $context: 1) {
  @if $cols != auto {
    $cols: ceil($cols);
  }

  @if $bk-cssgrid == true {
    grid-column-start: $cols;
  }
}

// Shorthand Version
@mixin col-pos($args...) {
  @include make-col-pos($args...);
}


/*
 |--------------------------------------------------------------------------
 |  Make Col Mixin
 |--------------------------------------------------------------------------
 */

// Mixin
@mixin make-col($cols: 1, $context: 1, $sassMode: true) {
  // Calculate the Context
  $width: $cols / $context * 100%;

  // Check if SassMode active
  @if $sassMode == false  {
    // Set Flexbox Settings when CSS Grid is no active
    @if $bk-cssgrid == false or $bk-cssgrid-fallback == true {
      flex: 0 1 $width;
      max-width: $width;
    }

    // Set CSS Grid Settings
    @if $bk-cssgrid == true {
      @if $bk-cssgrid-fallback == true {
        max-width: none;
      }

      grid-column-end: span ceil($cols);

      @if $bk-cssgrid-fallback == true {
        .use-flexbox > & {
          flex: 0 1 $width;
          max-width: $width;
        }
      }
    }

  } @else {
    // Set Flexbox Settings when CSS Grid is no active
    @if $bk-cssgrid == false {
      min-height: 1px;
      flex: 0 1 $width;
      max-width: $width;
    }

    // Set CSS Grid Settings
    @if $bk-cssgrid == true {
      grid-column-start: auto;
      grid-column-end: span ceil($cols);

      @if $bk-cssgrid-fallback == true {
        .use-flexbox > & {
          flex: 0 1 $width;
          max-width: $width;
        }
      }
    }
  }
}

// Shorthand Version
@mixin col($args...) {
  @include make-col($args...);
}


/*
 |--------------------------------------------------------------------------
 |  Make Row Margin Mixin
 |--------------------------------------------------------------------------
 */

// Mixin
@mixin make-row-margin($factor: 1) {
  $factor: $factor * -1;
  $gutterMin: $factor * $bk-gutterMin;
  $gutterMax: $factor * $bk-gutterMax;

  @include f($gutterMin, $gutterMax, margin-left margin-right);
}

// Shorthand Version
@mixin row-margin($args...) {
  @include make-row-margin($args...);
}


/*
 |--------------------------------------------------------------------------
 |  Make Row Mixin
 |--------------------------------------------------------------------------
 */

// Mixin
@mixin make-row($cols: 1, $margin: true, $sassMode: true) {
  width: auto;
  @if $margin == true {
    @include make-row-margin();
  }
  @if $sassMode == true {
    @if $bk-cssgrid == false or $bk-cssgrid-fallback == true {
      flex-flow: row wrap;
      flex: 1 1 0;
    }
  }

  @if $bk-cssgrid == false {
    display: flex;
  }

  @if $bk-cssgrid == true {
    display: grid;
    grid-template-columns: repeat($cols, 1fr);
  }
}

// Shorthand Version
@mixin row($args...) {
  @include make-row($args...);
}


/*
 |--------------------------------------------------------------------------
 |  Make Section Padding Mixin
 |--------------------------------------------------------------------------
 */

// Mixin
@mixin make-section-padding($factor: 1) {
  @if $factor <= 1 {
    $factor: $factor * 2;
    $gutterMin: $factor * $bk-gutterMinVertical;
    $gutterMax: $factor * $bk-gutterMaxVertical;

    padding-top: 0;
    @include f($gutterMin, $gutterMax, padding-bottom);

  } @else {
    $factor: $factor * 2;
    $gutterMin: $bk-gutterMinVertical;
    $gutterMax: $bk-gutterMaxVertical;

    @include f($gutterMin * ($factor - 2), $gutterMax * ($factor - 2), padding-top);
    @include f($gutterMin * ($factor), $gutterMax * ($factor), padding-bottom);
  }
}

// Shorthand Version
@mixin section-padding($args...) {
  @include make-section-padding($args...);
}


/*
 |--------------------------------------------------------------------------
 |  Make Section Mixin
 |--------------------------------------------------------------------------
 */

// Mixin
@mixin make-section($behaviour: 'fixed', $padding: true, $factor: 1) {
  max-width: if($behaviour == 'fixed', $bk-maxWidth, none);
  $factor: $factor * 2;
  $gutterMin: $factor * $bk-gutterMin;
  $gutterMax: $factor * $bk-gutterMax;

  @if $padding == true {
    @include f($gutterMin, $gutterMax, padding-left padding-right);
  }
}

// Shorthand Version
@mixin section($args...) {
  @include make-section($args...);
}


/*
 |--------------------------------------------------------------------------
 |  Vertical Rhythm Mixin
 |--------------------------------------------------------------------------
 */

@mixin make-vr($factor: 1) {
  $factor: $factor * 2;
  $gutterMinVertical: $factor * $bk-gutterMinVertical;
  $gutterMaxVertical: $factor * $bk-gutterMaxVertical;

  @include f($gutterMinVertical, $gutterMaxVertical, margin-top);
}

// Shorthand Version
@mixin vr($args...) {
  @include make-vr($args...);
}


/*
 |--------------------------------------------------------------------------
 |  Vertical Rhythm Mixin
 |--------------------------------------------------------------------------
 */

@mixin make-space($properties: null, $factor: 1, $direction: 'x') {
  $factor: $factor * 2;
  $gutterMin: $factor * $bk-gutterMin;
  $gutterMax: $factor * $bk-gutterMax;

  @if ($direction != 'x' ) {
    $gutterMin: $factor * $bk-gutterMinVertical;
    $gutterMax: $factor * $bk-gutterMaxVertical;
  }

  @if ($properties != null) {
    @each $property in $properties {
      @include f($gutterMin, $gutterMax, $property);
    }
  }
}

// Shorthand Version
@mixin space($args...) {
  @include make-space($args...);
}

@mixin spaceX($properties: null, $factor: 1) {
  @include make-space($properties, $factor, 'x');
}


@mixin spaceY($properties: null, $factor: 1) {
  @include make-space($properties, $factor, 'y');
}


/*
 |--------------------------------------------------------------------------
 |  Col Offset Mixin
 |--------------------------------------------------------------------------
 */

@mixin make-col-offset($cols: 1, $context: 1, $sassMode: true) {
  $offset: 0;

  // Rounds to integer Numbers
  @if $cols != auto {
    $cols: ceil($cols);

    // Calculate the Context
    $offset: $cols  / $context * 100%;
  }

  // If Cols auto set it to 0
  @if $cols == auto {
    $offset: auto;
    $cols: 0;
  }

  @if $sassMode == true {
    @if $bk-cssgrid == false or $bk-cssgrid-fallback == true {
      margin-left: $offset;
    }
  }

  @if $bk-cssgrid == false {
    margin-left: $offset;
  }

  @if $bk-cssgrid == true {
    grid-column-start: $cols + 1;

    @if $bk-cssgrid-fallback == true {
      .use-flexbox > & {
        margin-left: $offset;
      }
    }
  }
}

// Shorthand Version
@mixin col-offset($args...) {
  @include make-col-offset($args...);
}


/*
 |--------------------------------------------------------------------------
 |  Col Push Mixin
 |--------------------------------------------------------------------------
 */

@mixin make-col-push($cols: 1, $context: 1, $sassMode: true) {
  // Rounds to integer Numbers
  @if $cols != auto {
    $cols: ceil($cols);
  }

  // Calculate the Context
  $offset: $cols  / $context * 100%;
  left: $offset;
}

// Shorthand Version
@mixin col-push($args...) {
  @include make-col-push($args...);
}


/*
 |--------------------------------------------------------------------------
 |  Col Pull Mixin
 |--------------------------------------------------------------------------
 */

@mixin make-col-pull($cols: 1, $context: 1, $sassMode: true) {
  // Rounds to integer Numbers
  @if $cols != auto {
    $cols: ceil($cols);
  }

  // Calculate the Context
  $offset: $cols  / $context * 100%;

  @if $sassMode == true {
    @if $bk-cssgrid == false or $bk-cssgrid-fallback == true {
      right: $offset;
    }
  }

  @if $bk-cssgrid == false {
    // Calculate the Context
    right: $offset;
  }

  @if $bk-cssgrid == true {
    grid-column-start: $cols;
  }
}

// Shorthand Version
@mixin col-pull($args...) {
  @include make-col-pull($args...);
}
