/*
 |--------------------------------------------------------------------------
 |  flexboxgrid.scss
 |--------------------------------------------------------------------------
 */

$bk-grid-settings-custom: (
  cssgrid: false,
  cssgrid-fallback: false,
  flexboxgrid: true,
  testing: true,
  prefix: 'o-',
  units: (
    gutter: 8px,
    gutter-min-factor: 1,
    gutter-max-factor: 2,
    gutter-min-vertical-factor: 1,
    gutter-max-vertical-factor: 2
  ),
  breakpoints: (
    min: (from: 320px, to: 399px, cols: 6),
    xs:  (from: 400px, to: 599px, cols: 6),
    s:   (from: 600px, to: 799px, cols: 24),
    m:   (from: 800px, to: 999px, cols: 24),
    l:   (from: 1000px, to: 1439px, cols: 48),
    max: (from: 1440px, to: 0, cols: 48)
  )
);

// Imports
@import 'functions';
@import 'grid';
@import 'variables';
@import 'mixins';
