/*
 |--------------------------------------------------------------------------
 |  flexboxgrid.scss
 |--------------------------------------------------------------------------
 */

$bk-grid-settings-custom: (
  testing: true,
  prefix: 'o-',
  units: (
    gutter: 8px,
    gutter-min-factor: 1,
    gutter-max-factor: 2,
    gutter-min-vertical-factor: 1,
    gutter-max-vertical-factor: 2
  ),
  offset-classes: true,
  push-classes: true,
  pull-classes: true,
  disable-padding-horizontal: false,
  breakpoints: (
    min: (from: 320px, cols: 6, create-classes: true),
    xs:  (from: 400px, cols: 6, create-classes: true),
    s:   (from: 600px, cols: 24, create-classes: true),
    m:   (from: 800px, cols: 24, create-classes: true),
    l:   (from: 1000px, cols: 24, create-classes: true),
    max: (from: 1440px, cols: 24, create-classes: true)
  )
);

// Imports
@import 'functions';
@import 'grid';
@import 'variables';
@import 'mixins';
@import 'utils/util.classes';
// @import 'utils/util.section';
// @import 'utils/util.row';
// @import 'utils/util.col';
// @import 'utils/util.vSpace';
// @import 'utils/util.testing';
// @import 'utils/util.custom';
