// Grid Settings
$bk-grid-settings: (
  legacy: false,
  cssgrid: true,
  testing: true,
  prefix: 'o',
  units: (
    gutter: 8px,
    gutterMinFactor: 1,
    gutterMaxFactor: 2,
    gutterMinVerticalFactor: 1,
    gutterMaxVerticalFactor: 2
  ),
  breakpoints: (
    min: (from: 320px, to: 399px, cols: 4),
    xs:  (from: 400px, to: 599px, cols: 8),
    s:   (from: 600px, to: 799px, cols: 12),
    m:   (from: 800px, to: 999px, cols: 16),
    l:   (from: 1000px, to: 1439px, cols: 32),
    max: (from: 1440px, to: 0, cols: 64)
  )
);


// ====================
// Do nothing here
// ====================

@import '../functions/_map-deep-get';
@import '../mixins/_grid';

$bk-gs: $bk-grid-settings;
$bk-breakpoints: map-deep-get($bk-gs, breakpoints);
$bk-colsMin: map-deep-get($bk-gs, breakpoints, min, cols);
$bk-colsMax: map-deep-get($bk-gs, breakpoints, max, cols);

$bk-minWidth: map-deep-get($bk-gs, breakpoints, min, from);
$bk-maxWidth: map-deep-get($bk-gs, breakpoints, max, from);

$bk-gutter: map-deep-get($bk-gs, units, gutter);
$bk-gutterMin: $bk-gutter * map-deep-get($bk-gs, units, gutterMinFactor);
$bk-gutterMax: $bk-gutter * map-deep-get($bk-gs, units, gutterMaxFactor);
$bk-gutterMinVertical: $bk-gutter * map-deep-get($bk-gs, units, gutterMinVerticalFactor);
$bk-gutterMaxVertical: $bk-gutter * map-deep-get($bk-gs, units, gutterMaxVerticalFactor);

$bk-legacy: map-deep-get($bk-gs, legacy);
$bk-cssgrid: map-deep-get($bk-gs, cssgrid);
$bk-testing: map-deep-get($bk-gs, testing);
$bk-prefix: map-get($bk-gs, prefix);


%styling {
  @include make-vs();
  background-color: rgba(black, 0.05);
  box-shadow: inset 0 0 0 1px rgba(black, 1);
  border-radius: 3px;
}
