<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>Baukasten Grid</title>
  <link href="css/fallbackgrid.css" media="all" rel="stylesheet"/>
</head>
<body>

<div class="custom-section">
  <h1>CSS Grid + Fallback</h1>
  <ul>
    <li><a class="is-inactive" href="index.html">CSS Grid</a></li>
    <li><a class="is-inactive" href="flexbox-grid.html">Flexbox Grid</a></li>
    <li><a class="is-active" href="fallbackgrid.html">CSS Grid + Fallback</a></li>

  </ul>
</div>

<div class="o-section">
  <div class="o-row">
    <div class="o-col">
      <h2>Grid.4.Columns</h2>
    </div>
  </div>
  <div class="o-row">
    <div class="o-col-3  o-col-s-6  o-col-l-12">01</div>
    <div class="o-col-3  o-col-s-6  o-col-l-12">02</div>
    <div class="o-col-3  o-col-s-6  o-col-l-12">03</div>
    <div class="o-col-3  o-col-s-6  o-col-l-12">04</div>
  </div>
</div>

<div class="o-section">
  <div class="o-row">
    <div class="o-col">
      <h2>Grid.12.Columns</h2>
    </div>
  </div>
  <div class="o-row">
    <div class="o-col-6  o-col-xs-3  o-col-s-12  o-col-m-8  o-col-l-12  o-col-max-4">01</div>
    <div class="o-col-6  o-col-xs-3  o-col-s-12  o-col-m-8  o-col-l-12  o-col-max-4">02</div>
    <div class="o-col-6  o-col-xs-3  o-col-s-12  o-col-m-8  o-col-l-12  o-col-max-4">03</div>
    <div class="o-col-6  o-col-xs-3  o-col-s-12  o-col-m-8  o-col-l-12  o-col-max-4">04</div>
    <div class="o-col-6  o-col-xs-3  o-col-s-12  o-col-m-8  o-col-l-12  o-col-max-4">05</div>
    <div class="o-col-6  o-col-xs-3  o-col-s-12  o-col-m-8  o-col-l-12  o-col-max-4">06</div>
    <div class="o-col-6  o-col-xs-3  o-col-s-12  o-col-m-8  o-col-l-12  o-col-max-4">07</div>
    <div class="o-col-6  o-col-xs-3  o-col-s-12  o-col-m-8  o-col-l-12  o-col-max-4">08</div>
    <div class="o-col-6  o-col-xs-3  o-col-s-12  o-col-m-8  o-col-l-12  o-col-max-4">09</div>
    <div class="o-col-6  o-col-xs-3  o-col-s-12  o-col-m-8  o-col-l-12  o-col-max-4">10</div>
    <div class="o-col-6  o-col-xs-3  o-col-s-12  o-col-m-8  o-col-l-12  o-col-max-4">11</div>
    <div class="o-col-6  o-col-xs-3  o-col-s-12  o-col-m-8  o-col-l-12  o-col-max-4">12</div>
  </div>
</div>

<div class="o-section">
  <div class="o-row">
    <div class="o-col">
      <h2>Grid.24.Columns.Wrapped</h2>
    </div>
  </div>
  <div class="o-row">
    <div class="o-col-6  o-col-xs-3  o-col-s-12  o-col-m-8  o-col-l-12  o-col-max-4">01</div>
    <div class="o-col-6  o-col-xs-3  o-col-s-12  o-col-m-8  o-col-l-12  o-col-max-4">02</div>
    <div class="o-col-6  o-col-xs-3  o-col-s-12  o-col-m-8  o-col-l-12  o-col-max-4">03</div>
    <div class="o-col-6  o-col-xs-3  o-col-s-12  o-col-m-8  o-col-l-12  o-col-max-4">04</div>
    <div class="o-col-6  o-col-xs-3  o-col-s-12  o-col-m-8  o-col-l-12  o-col-max-4">05</div>
    <div class="o-col-6  o-col-xs-3  o-col-s-12  o-col-m-8  o-col-l-12  o-col-max-4">06</div>
    <div class="o-col-6  o-col-xs-3  o-col-s-12  o-col-m-8  o-col-l-12  o-col-max-4">07</div>
    <div class="o-col-6  o-col-xs-3  o-col-s-12  o-col-m-8  o-col-l-12  o-col-max-4">08</div>
    <div class="o-col-6  o-col-xs-3  o-col-s-12  o-col-m-8  o-col-l-12  o-col-max-4">09</div>
    <div class="o-col-6  o-col-xs-3  o-col-s-12  o-col-m-8  o-col-l-12  o-col-max-4">10</div>
    <div class="o-col-6  o-col-xs-3  o-col-s-12  o-col-m-8  o-col-l-12  o-col-max-4">11</div>
    <div class="o-col-6  o-col-xs-3  o-col-s-12  o-col-m-8  o-col-l-12  o-col-max-4">12</div>
    <div class="o-col-6  o-col-xs-3  o-col-s-12  o-col-m-8  o-col-l-12  o-col-max-4">13</div>
    <div class="o-col-6  o-col-xs-3  o-col-s-12  o-col-m-8  o-col-l-12  o-col-max-4">14</div>
    <div class="o-col-6  o-col-xs-3  o-col-s-12  o-col-m-8  o-col-l-12  o-col-max-4">15</div>
    <div class="o-col-6  o-col-xs-3  o-col-s-12  o-col-m-8  o-col-l-12  o-col-max-4">16</div>
    <div class="o-col-6  o-col-xs-3  o-col-s-12  o-col-m-8  o-col-l-12  o-col-max-4">17</div>
    <div class="o-col-6  o-col-xs-3  o-col-s-12  o-col-m-8  o-col-l-12  o-col-max-4">18</div>
    <div class="o-col-6  o-col-xs-3  o-col-s-12  o-col-m-8  o-col-l-12  o-col-max-4">19</div>
    <div class="o-col-6  o-col-xs-3  o-col-s-12  o-col-m-8  o-col-l-12  o-col-max-4">20</div>
    <div class="o-col-6  o-col-xs-3  o-col-s-12  o-col-m-8  o-col-l-12  o-col-max-4">21</div>
    <div class="o-col-6  o-col-xs-3  o-col-s-12  o-col-m-8  o-col-l-12  o-col-max-4">22</div>
    <div class="o-col-6  o-col-xs-3  o-col-s-12  o-col-m-8  o-col-l-12  o-col-max-4">23</div>
    <div class="o-col-6  o-col-xs-3  o-col-s-12  o-col-m-8  o-col-l-12  o-col-max-4">24</div>
  </div>
</div>
<div class="o-section">
  <div class="o-row">
    <div class="o-col">
      <h2>Grid.Columns.Nested</h2>
    </div>
  </div>
  <div class="o-row">
    <div class="o-col-6  o-col-s-12  o-col-m-12  o-col-l-16  o-col-max-16">
      <h2>This is a Headline…</h2>
      <p>
        Lorem ipsum dolor sit amet, quas appetere qui te, vel ne enim putent tractatos, ullum inani et duo. Per placerat
        ocurreret te, eos diceret accumsan in? Qui no viderer vivendum facilisi, pro illud possim legimus at. Illum
        sonet numquam id vis. Ei accumsan nominati eos? Nam suas admodum ancillae ne? Nullam noster scribentur per cu,
        te duis consetetur adipiscing pri? Mollis deseruisse te mei. Cu euismod singulis suavitate eam. Ex eos purto
        similique, an eum fabellas adolescens! Dolor signiferumque cum id. Dicunt cetero detracto mea ei? Ex dico dolor
        vis, splendide vituperatoribus cu usu, ei mea posse sonet labores! Ad duo veritus intellegam, alterum
        appellantur vix et. Vis dissentiet repudiandae eu, decore integre principes per ei. Id vim stet mentitum
        repudiandae, pri mentitum qualisque ea, ex usu augue viderer suscipit. Ea vel mucius graecis, mentitum perfecto
        eu duo, duo eu ipsum urbanitas. Eruditi recteque abhorreant ius et, omnes dolore debitis vel ei? An inani
        copiosae nec, audiam sanctus nostrum est ea? Assum iuvaret mea id.
      </p>
      <p>
        An populo iriure interesset sit! Eum quas zril nostrum ei. Est no esse illum, falli doming vix no? No pri causae
        petentium! Id vocibus volutpat deterruisset usu, vocibus verterem sed ne, usu ne similique temporibus! Ex vix
        dicat discere partiendo, at ignota corpora mei, posse percipitur mea ut. At doming commodo deseruisse sit, eu
        diceret fabulas eligendi vix, sea nostrum scriptorem ad! Quo cu eius tollit instructior.
      </p>
    </div>
    <div class="o-col-6  o-col-s-12  o-col-m-12  o-col-l-32  o-col-max-32">
      <div class="o-row">
        <div class="o-col-6  o-col-s-24  o-col-l-24">
          <h2>This is a Headline…</h2>
          <p>
            Lorem ipsum dolor sit amet, quas appetere qui te, vel ne enim putent tractatos, ullum inani et duo. Per
            placerat ocurreret te, eos diceret accumsan in? Qui no viderer vivendum facilisi, pro illud possim legimus
            at. Illum sonet numquam id vis. Ei accumsan nominati eos? Nam suas admodum ancillae ne? Nullam noster
            scribentur per cu, te duis consetetur adipiscing pri? Mollis deseruisse te mei. Cu euismod singulis
            suavitate eam. Ex eos purto similique, an eum fabellas adolescens! Dolor signiferumque cum id. Dicunt cetero
            detracto mea ei?
          </p>
          <p>
            An populo iriure interesset sit! Eum quas zril nostrum ei. Est no esse illum, falli doming vix no? No pri
            causae petentium! Id vocibus volutpat deterruisset usu, vocibus verterem sed ne, usu ne similique
            temporibus! Ex vix dicat discere partiendo, at ignota corpora mei, posse percipitur mea ut. At doming
            commodo deseruisse sit, eu diceret fabulas eligendi vix, sea nostrum scriptorem ad! Quo cu eius tollit
            instructior.
          </p>
        </div>
        <div class="o-col-6  o-col-s-24  o-col-l-24">
          <h2>This is a Headline…</h2>
          <p>
            An populo iriure interesset sit! Eum quas zril nostrum ei. Est no esse illum, falli doming vix no? No pri
            causae petentium! Id vocibus volutpat deterruisset usu, vocibus verterem sed ne, usu ne similique
            temporibus! Ex vix dicat discere partiendo, at ignota corpora mei, posse percipitur mea ut. At doming
            commodo deseruisse sit, eu diceret fabulas eligendi vix, sea nostrum scriptorem ad! Quo cu eius tollit
            instructior.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="o-section">
  <div class="o-row">
    <div class="o-col">
      <h2>Grid.Flexbox.Justify.Content</h2>
    </div>
  </div>
  <div class="o-row  flex-x-start">
    <div class="o-col-3  o-col-s-6  o-col-l-12">01</div>
    <div class="o-col-3  o-col-s-6  o-col-l-12">02</div>
  </div>
  <div class="o-row  flex-x-center">
    <div class="o-col-3  o-col-s-6  o-col-l-12">01</div>
    <div class="o-col-3  o-col-s-6  o-col-l-12">02</div>
  </div>
  <div class="o-row  flex-x-end">
    <div class="o-col-3  o-col-s-6  o-col-l-12">01</div>
    <div class="o-col-3  o-col-s-6  o-col-l-12">02</div>
  </div>
  <div class="o-row  flex-x-around">
    <div class="o-col-3  o-col-s-6  o-col-l-12">01</div>
    <div class="o-col-3  o-col-s-6  o-col-l-12">02</div>
  </div>
  <div class="o-row  flex-x-between">
    <div class="o-col-3  o-col-s-6  o-col-l-12">01</div>
    <div class="o-col-3  o-col-s-6  o-col-l-12">02</div>
  </div>
</div>

<div class="o-section">
  <div class="o-row">
    <div class="o-col">
      <h2>Grid.Flexbox.Align.Content</h2>
    </div>
  </div>
  <div class="o-row  flex-y-start" style="height: 200px;">
    <div class="o-col-3  o-col-s-6  o-col-l-12">01</div>
    <div class="o-col-3  o-col-s-6  o-col-l-12">02</div>
  </div>
  <div class="o-row  flex-y-center" style="height: 200px;">
    <div class="o-col-3  o-col-s-6  o-col-l-12">01</div>
    <div class="o-col-3  o-col-s-6  o-col-l-12">02</div>
  </div>
  <div class="o-row  flex-y-end" style="height: 200px;">
    <div class="o-col-3  o-col-s-6  o-col-l-12">01</div>
    <div class="o-col-3  o-col-s-6  o-col-l-12">02</div>
  </div>
  <div class="o-row  flex-y-stretch" style="height: 200px;">
    <div class="o-col-3  o-col-s-6  o-col-l-12">01</div>
    <div class="o-col-3  o-col-s-6  o-col-l-12">02</div>
  </div>
</div>

<div class="o-section">
  <div class="o-row">
    <div class="o-col">
      <h2>Grid.Flexbox.Align.Justify.Content</h2>
    </div>
  </div>
  <div class="o-row  flex-x-start  flex-y-start" style="height: 200px;">
    <div class="o-col-3  o-col-s-6  o-col-l-12">01</div>
    <div class="o-col-3  o-col-s-6  o-col-l-12">02</div>
  </div>
  <div class="o-row  flex-x-center  flex-y-start" style="height: 200px;">
    <div class="o-col-3  o-col-s-6  o-col-l-12">01</div>
    <div class="o-col-3  o-col-s-6  o-col-l-12">02</div>
  </div>
  <div class="o-row  flex-x-end  flex-y-start" style="height: 200px;">
    <div class="o-col-3  o-col-s-6  o-col-l-12">01</div>
    <div class="o-col-3  o-col-s-6  o-col-l-12">02</div>
  </div>
  <div class="o-row  flex-x-around  flex-y-start" style="height: 200px;">
    <div class="o-col-3  o-col-s-6  o-col-l-12">01</div>
    <div class="o-col-3  o-col-s-6  o-col-l-12">02</div>
  </div>
  <div class="o-row  flex-x-between  flex-y-start" style="height: 200px;">
    <div class="o-col-3  o-col-s-6  o-col-l-12">01</div>
    <div class="o-col-3  o-col-s-6  o-col-l-12">02</div>
  </div>

  <div class="o-row  flex-x-start  flex-y-center" style="height: 200px;">
    <div class="o-col-3  o-col-s-6  o-col-l-12">01</div>
    <div class="o-col-3  o-col-s-6  o-col-l-12">02</div>
  </div>
  <div class="o-row  flex-x-center  flex-y-center" style="height: 200px;">
    <div class="o-col-3  o-col-s-6  o-col-l-12">01</div>
    <div class="o-col-3  o-col-s-6  o-col-l-12">02</div>
  </div>
  <div class="o-row  flex-x-end  flex-y-center" style="height: 200px;">
    <div class="o-col-3  o-col-s-6  o-col-l-12">01</div>
    <div class="o-col-3  o-col-s-6  o-col-l-12">02</div>
  </div>
  <div class="o-row  flex-x-around  flex-y-center" style="height: 200px;">
    <div class="o-col-3  o-col-s-6  o-col-l-12">01</div>
    <div class="o-col-3  o-col-s-6  o-col-l-12">02</div>
  </div>
  <div class="o-row  flex-x-between  flex-y-center" style="height: 200px;">
    <div class="o-col-3  o-col-s-6  o-col-l-12">01</div>
    <div class="o-col-3  o-col-s-6  o-col-l-12">02</div>
  </div>

  <div class="o-row  flex-x-start  flex-y-end" style="height: 200px;">
    <div class="o-col-3  o-col-s-6  o-col-l-12">01</div>
    <div class="o-col-3  o-col-s-6  o-col-l-12">02</div>
  </div>
  <div class="o-row  flex-x-center  flex-y-end" style="height: 200px;">
    <div class="o-col-3  o-col-s-6  o-col-l-12">01</div>
    <div class="o-col-3  o-col-s-6  o-col-l-12">02</div>
  </div>
  <div class="o-row  flex-x-end  flex-y-end" style="height: 200px;">
    <div class="o-col-3  o-col-s-6  o-col-l-12">01</div>
    <div class="o-col-3  o-col-s-6  o-col-l-12">02</div>
  </div>
  <div class="o-row  flex-x-around  flex-y-end" style="height: 200px;">
    <div class="o-col-3  o-col-s-6  o-col-l-12">01</div>
    <div class="o-col-3  o-col-s-6  o-col-l-12">02</div>
  </div>
  <div class="o-row  flex-x-between  flex-y-end" style="height: 200px;">
    <div class="o-col-3  o-col-s-6  o-col-l-12">01</div>
    <div class="o-col-3  o-col-s-6  o-col-l-12">02</div>
  </div>

  <div class="o-row  flex-x-start  flex-y-stretch" style="height: 200px;">
    <div class="o-col-3  o-col-s-6  o-col-l-12">01</div>
    <div class="o-col-3  o-col-s-6  o-col-l-12">02</div>
  </div>
  <div class="o-row  flex-x-center  flex-y-stretch" style="height: 200px;">
    <div class="o-col-3  o-col-s-6  o-col-l-12">01</div>
    <div class="o-col-3  o-col-s-6  o-col-l-12">02</div>
  </div>
  <div class="o-row  flex-x-end  flex-y-stretch" style="height: 200px;">
    <div class="o-col-3  o-col-s-6  o-col-l-12">01</div>
    <div class="o-col-3  o-col-s-6  o-col-l-12">02</div>
  </div>
  <div class="o-row  flex-x-around  flex-y-stretch" style="height: 200px;">
    <div class="o-col-3  o-col-s-6  o-col-l-12">01</div>
    <div class="o-col-3  o-col-s-6  o-col-l-12">02</div>
  </div>
  <div class="o-row  flex-x-between  flex-y-stretch" style="height: 200px;">
    <div class="o-col-3  o-col-s-6  o-col-l-12">01</div>
    <div class="o-col-3  o-col-s-6  o-col-l-12">02</div>
  </div>
</div>
</body>
</html>

