/*
 |--------------------------------------------------------------------------
 |  Col Classes
 |--------------------------------------------------------------------------
 */

// Default Class Settings
[class^='#{$bk-prefix}col-']{
  @include make-col-padding();

  @if $bk-cssgrid == false {
    position: relative;
    min-height: 1px;
    flex: 1 1 0;
    width: auto;
  }

  @if $bk-cssgrid == true {
    grid-column-start: auto;
    grid-column-end: auto;
  }
}

[class1^='#{$bk-prefix}col'].no-padding {
  @include make-col-padding(0);
}

[class='#{$bk-prefix}col'] {
  @include make-col-padding();

  @if $bk-cssgrid == false {
    position: relative;
    min-height: 1px;
    flex: 1 1 0;
    width: auto;
  }

  @if $bk-cssgrid == true {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

// Creating Col Classes
@each $key, $value in $bk-breakpoints {
  $from: map-get($value, from);
  $cols: map-get($value, cols);
  $prefix: $bk-prefix;

  @if $key == 'min' {
    @media screen and (min-width: #{$from}) {
      // Col Classes
      @for $i from 1 through $cols {
        .#{$prefix}col-#{$i} {
          @include make-col($i, $cols, false);
        }
      }
    }
  } @else if $key != 'min' {
    @media screen and (min-width: #{$from}) {
      // Col Classes
      @for $i from 1 through $cols {
        .#{$prefix}col-#{$key}-#{$i} {
          @include make-col($i, $cols, false);
        }
      }
    }
  }
}
