/*
 |--------------------------------------------------------------------------
 |  Col Classes
 |--------------------------------------------------------------------------
 */

// Default Class Settings
[class^='#{$bk-prefix}col-']{
  @if $bk-disable-padding-horizontal == false {
    @include make-col-padding();
  }
  position: relative;

  @if $bk-cssgrid == false {
    min-height: 1px;
    flex: 1 1 auto;
    max-width: none;
  }

  @if $bk-cssgrid == true {
    grid-column-start: auto;
    grid-column-end: auto;
  }
}

[class^='#{$bk-prefix}col'].no-padding {
  @if $bk-disable-padding-horizontal == false {
    @include make-col-padding(0);
  }
}

[class='#{$bk-prefix}col'] {
  @if $bk-disable-padding-horizontal == false {
    @include make-col-padding();
  }

  @if $bk-cssgrid == false {
    position: relative;
    min-height: 1px;
    flex: 1 1 auto;
    max-width: none;
  }

  @if $bk-cssgrid == true {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

// Creating Col Classes
@each $key, $value in $bk-breakpoints {
  $from: map-get($value, from);
  $cols: map-get($value, cols);
  $create-classes: map-get($value, create-classes);
  $prefix: $bk-prefix;

  @if $key == 'min' {
    @media screen and (min-width: #{$from}) {
      // Col Classes
      @for $i from 1 through $cols {
        // Col
        .#{$prefix}col-#{$i} {
          @include make-col($i, $cols, false);
        }

        // Offset
        @if $bk-offset-classes == true and $create-classes == true {
          .#{$prefix}col-offset-#{$i} {
            @include col-offset($i, $cols, false);
          }
        }

        // Push
        @if $bk-push-classes == true and $create-classes == true {
          .#{$prefix}col-push-#{$i} {
            @include col-push($i, $cols, false);
          }
        }

        // Pull
        @if $bk-push-classes == true and $create-classes == true {
          .#{$prefix}col-pull-#{$i} {
            @include col-pull($i, $cols, false);
          }
        }

      }
    }
  } @else if $key != 'min' {
    @if $create-classes == true {
      @media screen and (min-width: #{$from}) {
        // Col Classes
        @for $i from 1 through $cols {
          // Col
          .#{$prefix}col-#{$key}-#{$i} {
            @include make-col($i, $cols, false);
          }

          // Offset
          @if $bk-offset-classes == true {
            .#{$prefix}col-offset-#{$key}-#{$i} {
              @include col-offset($i, $cols, false);
            }
          }

          // Push
          @if $bk-push-classes == true {
            .#{$prefix}col-push-#{$key}-#{$i} {
              @include col-push($i, $cols, false);
            }
          }

          // Pull
          @if $bk-pull-classes == true {
            .#{$prefix}col-pull-#{$key}-#{$i} {
              @include col-pull($i, $cols, false);
            }
          }
        }
      }
    }
  }
}
