/*
 |--------------------------------------------------------------------------
 |  Row Classes
 |--------------------------------------------------------------------------
 */

// Default Class Settings
[class^='#{$bk-prefix}row'] {
  @include make-row($sassMode: false);

  @if $bk-cssgrid == false {
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 0;
  }

  @if $bk-cssgrid == true {
    display: grid;
  }
}

[class^='#{$bk-prefix}row'].no-padding {
  > [class^='#{$bk-prefix}col'] {
    @include make-col-padding(0);
  }
}

[class^='#{$bk-prefix}row'].use-flexbox {
  @include make-row($sassMode: false);
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 0;

  > [class='#{$bk-prefix}col'] {
    position: relative;
    min-height: 1px;
    flex: 1 1 0;
    width: auto;
  }
}

.items-x-start,
%items-x-start {
  justify-content: flex-start;
}

.items-x-center,
%items-x-center {
  justify-content: center;
}

.items-x-end,
%items-x-end {
  justify-content: flex-end;
}

.items-x-around ,
%items-x-around {
  justify-content: space-around;
}

.items-x-between,
%items-x-between {
  justify-content: space-between;
}

.items-y-start,
%items-y-start {
  align-items: flex-start;
}

.items-y-center,
%items-y-center {
  align-items: center;
}

.items-y-end,
%items-y-end {
  align-items: flex-end;
}

.items-y-stretch,
%items-y-stretch {
  align-items: stretch;
}

// Creating Row Classes
@each $key, $value in $bk-breakpoints {
  $from: map-get($value, from);
  $cols: map-get($value, cols);
  $prefix: $bk-prefix;

  @media screen and (min-width: #{$from}) {
    .#{$prefix}-row,
    %row {
      @include make-row($cols, $sassMode: false);
    }
  }
}
