/*
 |--------------------------------------------------------------------------
 |  Create all the utility classes
 |  Recommended to use Purge CSS to clean up for production
 |--------------------------------------------------------------------------
 */


// Loop that shit!
@each $key, $value in $bk-breakpoints {
  $from: map-get($value, from);
  $cols: 24;
  $pxCols: 64;
  $pxMulti: 8;
  $fluidSpacingCols: 12;

  @if $key == 'min' {
    @media (min-width: #{$from}) {
      // Widths
      @for $i from 1 through $cols {
        .w-#{$i}\/#{$cols} {
          @include make-col($i, $cols);
        }
      }

      @for $i from 1 through $pxCols {
        $value: $pxMulti * $i;

        .w-#{$value}px {
          width: #{$value}px;
        }
      }

      .container {
        width: 100%;
      }

      .w-full {
        width: 100%;
      }

      .w-screen {
        width: 100vw;
      }

      .min-w-0 {
        min-width: 0;
      }

      .min-w-full {
        min-width: 100%;
      }


      // Heights
      @for $i from 1 through $pxCols {
        $value: $pxMulti * $i;

        .h-#{$value}px {
          height: #{$value}px;
        }
      }

      .h-screen {
        height: 100vw;
      }

      .h-full {
        height: 100%;
      }

      .min-h-0 {
        min-height: 0;
      }

      .min-h-full {
        min-height: 100%;
      }

      .min-h-screen {
        min-height: 100vh;
      }

      .max-h-full {
        max-height: 100%;
      }

      .max-h-screen {
        max-height: 100vh;
      }

      // Paddings
      .p-0 {
        padding: 0;
      }

      .pt-0 {
        padding-top: 0;
      }

      .pb-0 {
        padding-bottom: 0;
      }

      .pl-0 {
        padding-left: 0;
      }

      .pr-0 {
        padding-right: 0;
      }

      .px-0 {
        padding-left: 0;
        padding-right: 0;
      }

      .py-0 {
        padding-top: 0;
        padding-bottom: 0;
      }

      // Margins
      .m-0 {
        margin: 0;
      }

      .mt-0 {
        margin-top: 0;
      }

      .mb-0 {
        margin-bottom: 0;
      }

      .ml-0 {
        margin-left: 0;
      }

      .mr-0 {
        margin-right: 0;
      }

      .mx-0 {
        margin-left: 0;
        margin-right: 0;
      }

      .my-0 {
        margin-top: 0;
        margin-bottom: 0;
      }

      .mx-auto {
        margin-left: auto;
        margin-right: auto;
      }

      .ml-auto {
        margin-left: auto;
      }

      .mr-auto {
        margin-right: auto;
      }

      // Display
      .block {
        display: block;
      }

      .inline-block {
        display: inline-block;
      }

      .inline {
        display: inline;
      }

      .flex {
        display: flex;
      }

      .inline-flex {
        display: inline-flex;
      }

      .table {
        display: table;
      }

      .table-row {
        display: table-row;
      }

      .table-cell {
        display: table-cell;
      }

      .hidden {
        display: none;
      }


      // Float
      .float-left {
        float: left;
      }

      .float-right {
        float: right;
      }

      .float-none {
        float: none;
      }

      .clearfix {
        &::after {
          content: '';
          display: table;
          clear: both;
        }
      }

      // Object Fit
      .object-contain {
        object-fit: contain;
      }

      .object-cover {
        object-fit: cover;
      }

      .object-fill {
        object-fit: fill;
      }

      .object-none {
        object-fit: none;
      }

      .object-scale-down {
        object-fit: scale-down;
      }

      // Object Position
      .object-bottom {
        object-position: bottom;
      }

      .object-center {
        object-position: center;
      }

      .object-left {
        object-position: left;
      }

      .object-left-bottom {
        object-position: left bottom;
      }

      .object-left-top {
        object-position: left top;
      }

      .object-right {
        object-position: right;
      }

      .object-right-bottom {
        object-position: right bottom;
      }

      .object-right-top {
        object-position: right top;
      }

      .object-top {
        object-position: top;
      }


      // Overflow
      .overflow-auto {
        overflow: auto;
      }

      .overflow-hidden {
        overflow: hidden;
      }

      .overflow-visible {
        overflow: visible;
      }

      .overflow-scroll {
        overflow: scroll;
      }

      .overflow-x-auto {
        overflow-x: auto;
      }

      .overflow-y-auto {
        overflow-y: auto;
      }

      .overflow-x-hidden {
        overflow-x: hidden;
      }

      .overflow-y-hidden {
        overflow-y: hidden;
      }

      .overflow-x-visible {
        overflow-x: visible;
      }

      .overflow-y-visible {
        overflow-y: visible;
      }

      .overflow-x-scroll {
        overflow-x: scroll;
      }

      .overflow-y-scroll {
        overflow-y: scroll;
      }

      .scrolling-touch {
        -webkit-overflow-scrolling: touch;
      }

      .scrolling-auto {
        -webkit-overflow-scrolling: auto;
      }


      // Position
      .static {
        position: static;
      }

      .fixed {
        position: fixed;
      }

      .absolute {
        position: absolute;
      }

      .relative {
        position: relative;
      }

      .sticky {
        position: sticky;
      }

      // Top / Right / Bottom / Left
      .inset-0 {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      .inset-y-0 {
        top: 0;
        bottom: 0;
      }

      .inset-x-0 {
        right: 0;
        left: 0;
      }

      .top-0 {
        top: 0;
      }

      .right-0 {
        right: 0;
      }

      .bottom-0 {
        bottom: 0;
      }

      .left-0 {
        left: 0;
      }

      .inset-auto {
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
      }

      .inset-y-auto {
        top: auto;
        bottom: auto;
      }

      .inset-x-auto {
        left: auto;
        right: auto;
      }

      .top-auto {
        top: auto;
      }

      .bottom-auto {
        bottom: auto;
      }

      .left-auto {
        left: auto;
      }

      .right-auto {
        right: auto;
      }


      // Visibility
      .visible {
        visibility: visible;
      }

      .invisible {
        visibility: hidden;
      }

      // z-index
      .z-0 {
        z-index: 0;
      }

      .z-10 {
        z-index: 10;
      }

      .z-20 {
        z-index: 20;
      }

      .z-30 {
        z-index: 30;
      }

      .z-40 {
        z-index: 40;
      }

      .z-50 {
        z-index: 50;
      }

      .z-auto {
        z-index: auto;
      }

      // Flex Direction
      .flex-row {
        flex-direction: row;
      }

      .flex-row-reverse {
        flex-direction: row-reverse;
      }

      .flex-col {
        flex-direction: column;
      }

      .flex-col-reverse {
        flex-direction: column-reverse;
      }

      // Flex Wrap
      .flex-no-wrap {
        flex-wrap: nowrap;
      }

      .flex-wrap {
        flex-wrap: wrap;
      }

      .flex-wrap-reverse {
        flex-wrap: wrap-reverse;
      }

      // Align Items
      .items-stretch {
        align-items: stretch;
      }

      .items-start {
        align-items: flex-start;
      }

      .items-center {
        align-items: center;
      }

      .items-end {
        align-items: flex-end;
      }

      .items-baseline {
        align-items: baseline;
      }

      // Align Content
      .content-start {
        align-content: flex-start;
      }

      .content-center {
        align-content: center;
      }

      .content-end {
        align-content: flex-end;
      }

      .content-between {
        align-content: space-between;
      }

      .content-around {
        align-content: space-around;
      }

      // Align Self
      .self-auto {
        align-self: auto;
      }

      .self-start {
        align-self: flex-start;
      }

      .self-center {
        align-self: center;
      }

      .self-end {
        align-self: flex-end;
      }

      .self-stretch {
        align-self: stretch;
      }

      // Justify Content
      .justify-start {
        justify-content: flex-start;
      }

      .justify-center {
        justify-content: center;
      }

      .justify-end {
        justify-content: flex-end;
      }

      .justify-between {
        justify-content: space-between;
      }

      .justify-around {
        justify-content: space-around;
      }

      // Flex
      .flex-initial {
        flex: 0 1 auto;
      }

      .flex-1 {
        flex: 1 1 0%;
      }

      .flex-auto {
        flex: 1 1 auto;
      }

      .flex-none {
        flex: none;
      }

      // Flex Grow
      .flex-grow {
        flex-grow: 1;
      }

      .flex-grow-0 {
        flex-grow: 0;
      }

      // Flex Shrink
      .flex-shrink {
        flex-shrink: 1;
      }

      .flex-shrink-0 {
        flex-shrink: 0;
      }

      // Order
      .order-first {
        order: -9999;
      }

      .order-last {
        order: 9999;
      }

      .order-none {
        order: 0;
      }

      .order-1 {
        order: 1;
      }

      .order-2 {
        order: 2;
      }

      .order-3 {
        order: 3;
      }

      .order-4 {
        order: 4;
      }

      .order-5 {
        order: 5;
      }

      .order-6 {
        order: 6;
      }

      .order-7 {
        order: 7;
      }

      .order-8 {
        order: 8;
      }

      .order-9 {
        order: 9;
      }

      .order-10 {
        order: 10;
      }

      .order-11 {
        order: 11;
      }

      .order-12 {
        order: 12;
      }

      // Table Layout
      .table-auto {
        table-layout: auto;
      }

      .table-fixed {
        table-layout: fixed;
      }
    }

    // Fluid Stuff
    // Paddings & Margins
    @for $i from 1 through $fluidSpacingCols {
      $min: 8px * $i;
      $max: $min * 2;

      .p-#{$i} {
        @include f($min, $max, padding)
      }

      .pl-#{$i} {
        @include f($min, $max, padding-left)
      }

      .pr-#{$i} {
        @include f($min, $max, padding-right)
      }

      .pt-#{$i} {
        @include f($min, $max, padding-top)
      }

      .pb-#{$i} {
        @include f($min, $max, padding-bottom)
      }

      .px-#{$i} {
        @include f($min, $max, padding-left padding-right)
      }

      .py-#{$i} {
        @include f($min, $max, padding-top padding-bottom)
      }

      .m-#{$i} {
        @include f($min, $max, margin)
      }

      .ml-#{$i} {
        @include f($min, $max, margin-left)
      }

      .mr-#{$i} {
        @include f($min, $max, margin-right)
      }

      .mt-#{$i} {
        @include f($min, $max, margin-top)
      }

      .mb-#{$i} {
        @include f($min, $max, margin-bottom)
      }

      .mx-#{$i} {
        @include f($min, $max, margin-left margin-right)
      }

      .my-#{$i} {
        @include f($min, $max, margin-top margin-bottom)
      }

      .-m-#{$i} {
        @include f(-$min, -$max, margin)
      }

      .-ml-#{$i} {
        @include f(-$min, -$max, margin-left)
      }

      .-mr-#{$i} {
        @include f(-$min, -$max, margin-right)
      }

      .-mt-#{$i} {
        @include f(-$min, -$max, margin-top)
      }

      .-mb-#{$i} {
        @include f(-$min, -$max, margin-bottom)
      }

      .-mx-#{$i} {
        @include f(-$min, -$max, margin-left margin-right)
      }

      .-my-#{$i} {
        @include f(-$min, -$max, margin-top margin-bottom)
      }
    }

  } @else if $key != 'min' {
    @media (min-width: #{$from}) {
      // Widths
      @for $i from 1 through $cols {
        .#{$key}\:w-#{$i}\/#{$cols} {
          @include make-col($i, $cols);
        }
      }

      @for $i from 1 through $pxCols {
        $value: $pxMulti * $i;

        .#{$key}\:w-#{$value}px {
          width: #{$value}px;
        }
      }

      .container {
        @if $key == 'max' {
          max-width: #{$from};
        }
      }

      .#{$key}\:w-screen {
        width: 100vw;
      }

      .#{$key}\:w-full {
        width: 100%;
      }

      .#{$key}\:min-w-0 {
        min-width: 0;
      }

      .#{$key}\:min-w-full {
        min-width: 100%;
      }


      // Heights
      @for $i from 1 through $pxCols {
        $value: $pxMulti * $i;

        .#{$key}\:h-#{$value}px {
          height: #{$value}px;
        }
      }

      .#{$key}\:h-screen {
        height: 100vw;
      }

      .#{$key}\:h-full {
        height: 100%;
      }

      .#{$key}\:min-h-0 {
        min-height: 0;
      }

      .#{$key}\:min-h-full {
        min-height: 100%;
      }

      .#{$key}\:min-h-screen {
        min-height: 100vh;
      }

      .#{$key}\:max-h-full {
        max-height: 100%;
      }

      .#{$key}\:max-h-screen {
        max-height: 100vh;
      }

      // Margins
      .#{$key}\:mx-auto {
        margin-left: auto;
        margin-right: auto;
      }

      .#{$key}\:ml-auto {
        margin-left: auto;
      }

      .#{$key}\:mr-auto {
        margin-right: auto;
      }


      // Display
      .#{$key}\:block {
        display: block;
      }

      .#{$key}\:inline-block {
        display: inline-block;
      }

      .#{$key}\:inline {
        display: inline;
      }

      .#{$key}\:flex {
        display: flex;
      }

      .#{$key}\:inline-flex {
        display: inline-flex;
      }

      .#{$key}\:table {
        display: table;
      }

      .#{$key}\:table-row {
        display: table-row;
      }

      .#{$key}\:table-cell {
        display: table-cell;
      }

      .#{$key}\:hidden {
        display: none;
      }

      // Float
      .#{$key}\:float-left {
        float: left;
      }

      .#{$key}\:float-right {
        float: right;
      }

      .#{$key}\:float-none {
        float: none;
      }

      .#{$key}\:clearfix {
        &::after {
          content: '';
          display: table;
          clear: both;
        }
      }


      // Object Fit
      .#{$key}\:object-contain {
        object-fit: contain;
      }

      .#{$key}\:object-cover {
        object-fit: cover;
      }

      .#{$key}\:object-fill {
        object-fit: fill;
      }

      .#{$key}\:object-none {
        object-fit: none;
      }

      .#{$key}\:object-scale-down {
        object-fit: scale-down;
      }


      // Object Position
      .#{$key}\:object-bottom {
        object-position: bottom;
      }

      .#{$key}\:object-center {
        object-position: center;
      }

      .#{$key}\:object-left {
        object-position: left;
      }

      .#{$key}\:object-left-bottom {
        object-position: left bottom;
      }

      .#{$key}\:object-left-top {
        object-position: left top;
      }

      .#{$key}\:object-right {
        object-position: right;
      }

      .#{$key}\:object-right-bottom {
        object-position: right bottom;
      }

      .#{$key}\:object-right-top {
        object-position: right top;
      }

      .#{$key}\:object-top {
        object-position: top;
      }


      // Overflow
      .#{$key}\:overflow-auto {
        overflow: auto;
      }

      .#{$key}\:overflow-hidden {
        overflow: hidden;
      }

      .#{$key}\:overflow-visible {
        overflow: visible;
      }

      .#{$key}\:overflow-scroll {
        overflow: scroll;
      }

      .#{$key}\:overflow-x-auto {
        overflow-x: auto;
      }

      .#{$key}\:overflow-y-auto {
        overflow-y: auto;
      }

      .#{$key}\:overflow-x-hidden {
        overflow-x: hidden;
      }

      .#{$key}\:overflow-y-hidden {
        overflow-y: hidden;
      }

      .#{$key}\:overflow-x-visible {
        overflow-x: visible;
      }

      .#{$key}\:overflow-y-visible {
        overflow-y: visible;
      }

      .#{$key}\:overflow-x-scroll {
        overflow-x: scroll;
      }

      .#{$key}\:overflow-y-scroll {
        overflow-y: scroll;
      }

      .#{$key}\:scrolling-touch {
        -webkit-overflow-scrolling: touch;
      }

      .#{$key}\:scrolling-auto {
        -webkit-overflow-scrolling: auto;
      }


      // Position
      .#{$key}\:static {
        position: static;
      }

      .#{$key}\:fixed {
        position: fixed;
      }

      .#{$key}\:absolute {
        position: absolute;
      }

      .#{$key}\:relative {
        position: relative;
      }

      .#{$key}\:sticky {
        position: sticky;
      }


      // Top / Right / Bottom / Left
      .#{$key}\:inset-0 {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      .#{$key}\:inset-y-0 {
        top: 0;
        bottom: 0;
      }

      .#{$key}\:inset-x-0 {
        right: 0;
        left: 0;
      }

      .#{$key}\:top-0 {
        top: 0;
      }

      .#{$key}\:right-0 {
        right: 0;
      }

      .#{$key}\:bottom-0 {
        bottom: 0;
      }

      .#{$key}\:left-0 {
        left: 0;
      }

      .#{$key}\:inset-auto {
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
      }

      .#{$key}\:inset-y-auto {
        top: auto;
        bottom: auto;
      }

      .#{$key}\:inset-x-auto {
        left: auto;
        right: auto;
      }

      .#{$key}\:top-auto {
        top: auto;
      }

      .#{$key}\:bottom-auto {
        bottom: auto;
      }

      .#{$key}\:left-auto {
        left: auto;
      }

      .#{$key}\:right-auto {
        right: auto;
      }


      // Visibility
      .#{$key}\:visible {
        visibility: visible;
      }

      .#{$key}\:invisible {
        visibility: hidden;
      }

      // z-index
      .#{$key}\:z-0 {
        z-index: 0;
      }

      .#{$key}\:z-10 {
        z-index: 10;
      }

      .#{$key}\:z-20 {
        z-index: 20;
      }

      .#{$key}\:z-30 {
        z-index: 30;
      }

      .#{$key}\:z-40 {
        z-index: 40;
      }

      .#{$key}\:z-50 {
        z-index: 50;
      }

      .#{$key}\:z-auto {
        z-index: auto;
      }

      // Flex Direction
      .#{$key}\:flex-row {
        flex-direction: row;
      }

      .#{$key}\:flex-row-reverse {
        flex-direction: row-reverse;
      }

      .#{$key}\:flex-col {
        flex-direction: column;
      }

      .#{$key}\:flex-col-reverse {
        flex-direction: column-reverse;
      }

      // Flex Wrap
      .#{$key}\:flex-no-wrap {
        flex-wrap: nowrap;
      }

      .#{$key}\:flex-wrap {
        flex-wrap: wrap;
      }

      .#{$key}\:flex-wrap-reverse {
        flex-wrap: wrap-reverse;
      }

      // Align Items
      .#{$key}\:items-stretch {
        align-items: stretch;
      }

      .#{$key}\:items-start {
        align-items: flex-start;
      }

      .#{$key}\:items-center {
        align-items: center;
      }

      .#{$key}\:items-end {
        align-items: flex-end;
      }

      .#{$key}\:items-baseline {
        align-items: baseline;
      }

      // Align Content
      .#{$key}\:content-start {
        align-content: flex-start;
      }

      .#{$key}\:content-center {
        align-content: center;
      }

      .#{$key}\:content-end {
        align-content: flex-end;
      }

      .#{$key}\:content-between {
        align-content: space-between;
      }

      .#{$key}\:content-around {
        align-content: space-around;
      }

      // Align Self
      .#{$key}\:self-auto {
        align-self: auto;
      }

      .#{$key}\:self-start {
        align-self: flex-start;
      }

      .#{$key}\:self-center {
        align-self: center;
      }

      .#{$key}\:self-end {
        align-self: flex-end;
      }

      .#{$key}\:self-stretch {
        align-self: stretch;
      }

      // Justify Content
      .#{$key}\:justify-start {
        justify-content: flex-start;
      }

      .#{$key}\:justify-center {
        justify-content: center;
      }

      .#{$key}\:justify-end {
        justify-content: flex-end;
      }

      .#{$key}\:justify-between {
        justify-content: space-between;
      }

      .#{$key}\:justify-around {
        justify-content: space-around;
      }

      // Flex
      .#{$key}\:flex-initial {
        flex: 0 1 auto;
      }

      .#{$key}\:flex-1 {
        flex: 1 1 0%;
      }

      .#{$key}\:flex-auto {
        flex: 1 1 auto;
      }

      .#{$key}\:flex-none {
        flex: none;
      }

      // Flex Grow
      .#{$key}\:flex-grow {
        flex-grow: 1;
      }

      .#{$key}\:flex-grow-0 {
        flex-grow: 0;
      }

      // Flex Shrink
      .#{$key}\:flex-shrink {
        flex-shrink: 1;
      }

      .#{$key}\:flex-shrink-0 {
        flex-shrink: 0;
      }

      // Order
      .#{$key}\:order-first {
        order: -9999;
      }

      .#{$key}\:order-last {
        order: 9999;
      }

      .#{$key}\:order-none {
        order: 0;
      }

      .#{$key}\:order-1 {
        order: 1;
      }

      .#{$key}\:order-2 {
        order: 2;
      }

      .#{$key}\:order-3 {
        order: 3;
      }

      .#{$key}\:order-4 {
        order: 4;
      }

      .#{$key}\:order-5 {
        order: 5;
      }

      .#{$key}\:order-6 {
        order: 6;
      }

      .#{$key}\:order-7 {
        order: 7;
      }

      .#{$key}\:order-8 {
        order: 8;
      }

      .#{$key}\:order-9 {
        order: 9;
      }

      .#{$key}\:order-10 {
        order: 10;
      }

      .#{$key}\:order-11 {
        order: 11;
      }

      .#{$key}\:order-12 {
        order: 12;
      }


      // Table Layout
      .#{$key}\:table-auto {
        table-layout: auto;
      }

      .#{$key}\:table-fixed {
        table-layout: fixed;
      }
    }


    // Fluid Stuff
    // Paddings & Margins
    @for $i from 1 through $fluidSpacingCols {
      $min: 8px * $i;
      $max: $min * 2;

      .#{$key}\:p-#{$i} {
        @include f($min, $max, padding)
      }

      .#{$key}\:pl-#{$i} {
        @include f($min, $max, padding-left)
      }

      .#{$key}\:pr-#{$i} {
        @include f($min, $max, padding-right)
      }

      .#{$key}\:pt-#{$i} {
        @include f($min, $max, padding-top)
      }

      .#{$key}\:pb-#{$i} {
        @include f($min, $max, padding-bottom)
      }

      .#{$key}\:px-#{$i} {
        @include f($min, $max, padding-left padding-right)
      }

      .#{$key}\:py-#{$i} {
        @include f($min, $max, padding-top padding-bottom)
      }

      .#{$key}\:m-#{$i} {
        @include f($min, $max, margin)
      }

      .#{$key}\:ml-#{$i} {
        @include f($min, $max, margin-left)
      }

      .#{$key}\:mr-#{$i} {
        @include f($min, $max, margin-right)
      }

      .#{$key}\:mt-#{$i} {
        @include f($min, $max, margin-top)
      }

      .#{$key}\:mb-#{$i} {
        @include f($min, $max, margin-bottom)
      }

      .#{$key}\:mx-#{$i} {
        @include f($min, $max, margin-left margin-right)
      }

      .#{$key}\:my-#{$i} {
        @include f($min, $max, margin-top margin-bottom)
      }

      .#{$key}\:-m-#{$i} {
        @include f(-$min, -$max, margin)
      }

      .#{$key}\:-ml-#{$i} {
        @include f(-$min, -$max, margin-left)
      }

      .#{$key}\:-mr-#{$i} {
        @include f(-$min, -$max, margin-right)
      }

      .#{$key}\:-mt-#{$i} {
        @include f(-$min, -$max, margin-top)
      }

      .#{$key}\:-mb-#{$i} {
        @include f(-$min, -$max, margin-bottom)
      }

      .#{$key}\:-mx-#{$i} {
        @include f(-$min, -$max, margin-left margin-right)
      }

      .#{$key}\:-my-#{$i} {
        @include f(-$min, -$max, margin-top margin-bottom)
      }
    }
  }
}
