/*
 |--------------------------------------------------------------------------
 |  Make Col Mixin
 |--------------------------------------------------------------------------
 */

// Imports
@import '../core/settings.variables';

// Mixin
@mixin make-col($cols: 1, $context: 1) {
  @if $bk-legacy == true {
    flex: 1 1 (100% / $cols);
    width: (100% / $cols);
  }

  @if $bk-cssgrid == true {
    @if $bk-legacy == true {
      width: auto;
    }
    grid-column-end: span ceil($cols);
  }
}
