/*
 |--------------------------------------------------------------------------
 |  Make Col Mixin
 |--------------------------------------------------------------------------
 */

// Imports
@import '../core/settings.variables';

// Mixin
@mixin make-col($cols: 1, $context: 1) {
  @if $bk-flexboxgrid == true or $bk-cssgrid == false or $bk-cssgrid-fallback == true {
    $width: $cols / $context * 100%;

    flex: 0 1 $width;
    width: $width;
  }

  @if $bk-cssgrid == true {
    @if $bk-flexboxgrid == true or $bk-cssgrid-fallback == true {
      width: auto;
    }
    grid-column-end: span ceil($cols);
  }
}
