/*
 |--------------------------------------------------------------------------
 |  cssgrid.scss
 |--------------------------------------------------------------------------
 */

$bk-grid-settings-custom: (
  cssgrid: true,
  cssgrid-fallback: false,
  flexboxgrid: false,
  testing: true,
  prefix: 'o',
  units: (
    gutter: 8px,
    gutterMinFactor: 1,
    gutterMaxFactor: 2,
    gutterMinVerticalFactor: 1,
    gutterMaxVerticalFactor: 2
  ),
  breakpoints: (
    min: (from: 320px, to: 399px, cols: 6),
    xs:  (from: 400px, to: 599px, cols: 6),
    s:   (from: 600px, to: 799px, cols: 24),
    m:   (from: 800px, to: 999px, cols: 24),
    l:   (from: 1000px, to: 1439px, cols: 48),
    max: (from: 1440px, to: 0, cols: 48)
  )
);

// Imports
@import 'base/base.reset';
@import 'base/base.custom';
@import 'core';
