// Imports
@import 'examples/settings.reset';
@import 'core/settings.variables';
@import 'core/settings.testing';
@import 'tools/mixin.make-section-padding';

@if $bk-testing == true {
  body {
    @include make-section-padding(2);
  }

  [class*='#{$bk-prefix}-section'] {
    @extend %styling-section;
  }

  [class*='#{$bk-prefix}-row'] {
    @extend %styling-row;

    [class*='#{$bk-prefix}-row'] {
      margin-top: 0;
    }
  }

  [class*='#{$bk-prefix}-col'] {
    @extend %styling-col;
    @include f(16px, 32px, padding-top padding-bottom);
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: 1px;
      background-color: rgba(red, 0.1);
      @include f(16px, 32px, padding-top padding-bottom);
    }

    &::before {
      @include f(16px, 32px, left);
    }

    &::after {
      @include f(16px, 32px, right);
    }
  }
}
