/*
 |--------------------------------------------------------------------------
 |  Make Col Position Mixin
 |--------------------------------------------------------------------------
 */

// Imports
@import '../core/settings.variables';

// Mixin
@mixin col-pos($cols: auto, $contenxt: null) {
  @if $cols != auto {
    $cols: ceil($cols);
  }

  @if $bk-legacy == true {
    margin-left: percentage($cols / $context);
  }

  @if $bk-cssgrid == true {
    grid-column-start: $cols;
  }
}
