/*
 |--------------------------------------------------------------------------
 |  Make Row Mixin
 |--------------------------------------------------------------------------
 */

// Imports
@import '../core/settings.variables';
@import 'mixin.fluid';

// Mixin
@mixin make-row($cols: 1, $factor: 1) {
  @if $bk-legacy == true {
    $factor: $factor * -2;
    $gutterMin: $factor * $bk-gutterMin;
    $gutterMax: $factor * $bk-gutterMax;

    @include f($gutterMin, $gutterMax, margin-left margin-right);
  }

  @if $bk-cssgrid == true {
    grid-template-columns: repeat($cols, 1fr);
  }
}
