[class*='o-section'] {
  max-width: 1440px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 0;
  padding-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) {
  [class*='o-section'] {
    padding-left: calc(16px + 16 * (100vw - 320px) / (1120));
    padding-right: calc(16px + 16 * (100vw - 320px) / (1120));
  }
}

@media screen and (min-width: 1440px) {
  [class*='o-section'] {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 320px) {
  [class*='o-section'] {
    padding-bottom: calc(16px + 16 * (100vw - 320px) / (1120));
  }
}

@media screen and (min-width: 1440px) {
  [class*='o-section'] {
    padding-bottom: 32px;
  }
}

[class*='o-row'] {
  margin-left: -16px;
  margin-right: -16px;
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 0;
}

@media screen and (min-width: 320px) {
  [class*='o-row'] {
    margin-left: calc(-16px + -16 * (100vw - 320px) / (1120));
    margin-right: calc(-16px + -16 * (100vw - 320px) / (1120));
  }
}

@media screen and (min-width: 1440px) {
  [class*='o-row'] {
    margin-left: -32px;
    margin-right: -32px;
  }
}

[class='o-row'] {
  box-shadow: inset 0 0 0 2px red;
}

[class*='o-row']:not(.no-padding) > [class*='o-col'] {
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 320px) {
  [class*='o-row']:not(.no-padding) > [class*='o-col'] {
    padding-left: calc(16px + 16 * (100vw - 320px) / (1120));
    padding-right: calc(16px + 16 * (100vw - 320px) / (1120));
  }
}

@media screen and (min-width: 1440px) {
  [class*='o-row']:not(.no-padding) > [class*='o-col'] {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 320px) {
  .o-row {
    margin-left: -16px;
    margin-right: -16px;
  }
}

@media screen and (min-width: 320px) and (min-width: 320px) {
  .o-row {
    margin-left: calc(-16px + -16 * (100vw - 320px) / (1120));
    margin-right: calc(-16px + -16 * (100vw - 320px) / (1120));
  }
}

@media screen and (min-width: 320px) and (min-width: 1440px) {
  .o-row {
    margin-left: -32px;
    margin-right: -32px;
  }
}

@media (min-width: 400px) {
  .o-row {
    margin-left: -16px;
    margin-right: -16px;
  }
}

@media screen and (min-width: 400px) and (min-width: 320px) {
  .o-row {
    margin-left: calc(-16px + -16 * (100vw - 320px) / (1120));
    margin-right: calc(-16px + -16 * (100vw - 320px) / (1120));
  }
}

@media screen and (min-width: 400px) and (min-width: 1440px) {
  .o-row {
    margin-left: -32px;
    margin-right: -32px;
  }
}

@media (min-width: 600px) {
  .o-row {
    margin-left: -16px;
    margin-right: -16px;
  }
}

@media screen and (min-width: 600px) and (min-width: 320px) {
  .o-row {
    margin-left: calc(-16px + -16 * (100vw - 320px) / (1120));
    margin-right: calc(-16px + -16 * (100vw - 320px) / (1120));
  }
}

@media screen and (min-width: 600px) and (min-width: 1440px) {
  .o-row {
    margin-left: -32px;
    margin-right: -32px;
  }
}

@media (min-width: 800px) {
  .o-row {
    margin-left: -16px;
    margin-right: -16px;
  }
}

@media screen and (min-width: 800px) and (min-width: 320px) {
  .o-row {
    margin-left: calc(-16px + -16 * (100vw - 320px) / (1120));
    margin-right: calc(-16px + -16 * (100vw - 320px) / (1120));
  }
}

@media screen and (min-width: 800px) and (min-width: 1440px) {
  .o-row {
    margin-left: -32px;
    margin-right: -32px;
  }
}

@media (min-width: 1000px) {
  .o-row {
    margin-left: -16px;
    margin-right: -16px;
  }
}

@media screen and (min-width: 1000px) and (min-width: 320px) {
  .o-row {
    margin-left: calc(-16px + -16 * (100vw - 320px) / (1120));
    margin-right: calc(-16px + -16 * (100vw - 320px) / (1120));
  }
}

@media screen and (min-width: 1000px) and (min-width: 1440px) {
  .o-row {
    margin-left: -32px;
    margin-right: -32px;
  }
}

@media (min-width: 1440px) {
  .o-row {
    margin-left: -16px;
    margin-right: -16px;
  }
}

@media screen and (min-width: 1440px) and (min-width: 320px) {
  .o-row {
    margin-left: calc(-16px + -16 * (100vw - 320px) / (1120));
    margin-right: calc(-16px + -16 * (100vw - 320px) / (1120));
  }
}

@media screen and (min-width: 1440px) and (min-width: 1440px) {
  .o-row {
    margin-left: -32px;
    margin-right: -32px;
  }
}

[class*='o-col'] {
  position: relative;
  min-height: 1px;
  flex: 1 1 0;
  width: auto;
  display: inline;
}

@media (min-width: 320px) {
  .o-col-1 {
    content: '1-6';
    flex: 0 1 16.6666666667%;
    width: 16.6666666667%;
  }

  .o-col-2 {
    content: '2-6';
    flex: 0 1 33.3333333333%;
    width: 33.3333333333%;
  }

  .o-col-3 {
    content: '3-6';
    flex: 0 1 50%;
    width: 50%;
  }

  .o-col-4 {
    content: '4-6';
    flex: 0 1 66.6666666667%;
    width: 66.6666666667%;
  }

  .o-col-5 {
    content: '5-6';
    flex: 0 1 83.3333333333%;
    width: 83.3333333333%;
  }

  .o-col-6 {
    content: '6-6';
    flex: 0 1 100%;
    width: 100%;
  }
}

@media (min-width: 400px) {
  .o-col-xs-1 {
    content: '1-6';
    flex: 0 1 16.6666666667%;
    width: 16.6666666667%;
  }

  .o-col-xs-2 {
    content: '2-6';
    flex: 0 1 33.3333333333%;
    width: 33.3333333333%;
  }

  .o-col-xs-3 {
    content: '3-6';
    flex: 0 1 50%;
    width: 50%;
  }

  .o-col-xs-4 {
    content: '4-6';
    flex: 0 1 66.6666666667%;
    width: 66.6666666667%;
  }

  .o-col-xs-5 {
    content: '5-6';
    flex: 0 1 83.3333333333%;
    width: 83.3333333333%;
  }

  .o-col-xs-6 {
    content: '6-6';
    flex: 0 1 100%;
    width: 100%;
  }
}

@media (min-width: 600px) {
  .o-col-s-1 {
    content: '1-24';
    flex: 0 1 4.1666666667%;
    width: 4.1666666667%;
  }

  .o-col-s-2 {
    content: '2-24';
    flex: 0 1 8.3333333333%;
    width: 8.3333333333%;
  }

  .o-col-s-3 {
    content: '3-24';
    flex: 0 1 12.5%;
    width: 12.5%;
  }

  .o-col-s-4 {
    content: '4-24';
    flex: 0 1 16.6666666667%;
    width: 16.6666666667%;
  }

  .o-col-s-5 {
    content: '5-24';
    flex: 0 1 20.8333333333%;
    width: 20.8333333333%;
  }

  .o-col-s-6 {
    content: '6-24';
    flex: 0 1 25%;
    width: 25%;
  }

  .o-col-s-7 {
    content: '7-24';
    flex: 0 1 29.1666666667%;
    width: 29.1666666667%;
  }

  .o-col-s-8 {
    content: '8-24';
    flex: 0 1 33.3333333333%;
    width: 33.3333333333%;
  }

  .o-col-s-9 {
    content: '9-24';
    flex: 0 1 37.5%;
    width: 37.5%;
  }

  .o-col-s-10 {
    content: '10-24';
    flex: 0 1 41.6666666667%;
    width: 41.6666666667%;
  }

  .o-col-s-11 {
    content: '11-24';
    flex: 0 1 45.8333333333%;
    width: 45.8333333333%;
  }

  .o-col-s-12 {
    content: '12-24';
    flex: 0 1 50%;
    width: 50%;
  }

  .o-col-s-13 {
    content: '13-24';
    flex: 0 1 54.1666666667%;
    width: 54.1666666667%;
  }

  .o-col-s-14 {
    content: '14-24';
    flex: 0 1 58.3333333333%;
    width: 58.3333333333%;
  }

  .o-col-s-15 {
    content: '15-24';
    flex: 0 1 62.5%;
    width: 62.5%;
  }

  .o-col-s-16 {
    content: '16-24';
    flex: 0 1 66.6666666667%;
    width: 66.6666666667%;
  }

  .o-col-s-17 {
    content: '17-24';
    flex: 0 1 70.8333333333%;
    width: 70.8333333333%;
  }

  .o-col-s-18 {
    content: '18-24';
    flex: 0 1 75%;
    width: 75%;
  }

  .o-col-s-19 {
    content: '19-24';
    flex: 0 1 79.1666666667%;
    width: 79.1666666667%;
  }

  .o-col-s-20 {
    content: '20-24';
    flex: 0 1 83.3333333333%;
    width: 83.3333333333%;
  }

  .o-col-s-21 {
    content: '21-24';
    flex: 0 1 87.5%;
    width: 87.5%;
  }

  .o-col-s-22 {
    content: '22-24';
    flex: 0 1 91.6666666667%;
    width: 91.6666666667%;
  }

  .o-col-s-23 {
    content: '23-24';
    flex: 0 1 95.8333333333%;
    width: 95.8333333333%;
  }

  .o-col-s-24 {
    content: '24-24';
    flex: 0 1 100%;
    width: 100%;
  }
}

@media (min-width: 800px) {
  .o-col-m-1 {
    content: '1-24';
    flex: 0 1 4.1666666667%;
    width: 4.1666666667%;
  }

  .o-col-m-2 {
    content: '2-24';
    flex: 0 1 8.3333333333%;
    width: 8.3333333333%;
  }

  .o-col-m-3 {
    content: '3-24';
    flex: 0 1 12.5%;
    width: 12.5%;
  }

  .o-col-m-4 {
    content: '4-24';
    flex: 0 1 16.6666666667%;
    width: 16.6666666667%;
  }

  .o-col-m-5 {
    content: '5-24';
    flex: 0 1 20.8333333333%;
    width: 20.8333333333%;
  }

  .o-col-m-6 {
    content: '6-24';
    flex: 0 1 25%;
    width: 25%;
  }

  .o-col-m-7 {
    content: '7-24';
    flex: 0 1 29.1666666667%;
    width: 29.1666666667%;
  }

  .o-col-m-8 {
    content: '8-24';
    flex: 0 1 33.3333333333%;
    width: 33.3333333333%;
  }

  .o-col-m-9 {
    content: '9-24';
    flex: 0 1 37.5%;
    width: 37.5%;
  }

  .o-col-m-10 {
    content: '10-24';
    flex: 0 1 41.6666666667%;
    width: 41.6666666667%;
  }

  .o-col-m-11 {
    content: '11-24';
    flex: 0 1 45.8333333333%;
    width: 45.8333333333%;
  }

  .o-col-m-12 {
    content: '12-24';
    flex: 0 1 50%;
    width: 50%;
  }

  .o-col-m-13 {
    content: '13-24';
    flex: 0 1 54.1666666667%;
    width: 54.1666666667%;
  }

  .o-col-m-14 {
    content: '14-24';
    flex: 0 1 58.3333333333%;
    width: 58.3333333333%;
  }

  .o-col-m-15 {
    content: '15-24';
    flex: 0 1 62.5%;
    width: 62.5%;
  }

  .o-col-m-16 {
    content: '16-24';
    flex: 0 1 66.6666666667%;
    width: 66.6666666667%;
  }

  .o-col-m-17 {
    content: '17-24';
    flex: 0 1 70.8333333333%;
    width: 70.8333333333%;
  }

  .o-col-m-18 {
    content: '18-24';
    flex: 0 1 75%;
    width: 75%;
  }

  .o-col-m-19 {
    content: '19-24';
    flex: 0 1 79.1666666667%;
    width: 79.1666666667%;
  }

  .o-col-m-20 {
    content: '20-24';
    flex: 0 1 83.3333333333%;
    width: 83.3333333333%;
  }

  .o-col-m-21 {
    content: '21-24';
    flex: 0 1 87.5%;
    width: 87.5%;
  }

  .o-col-m-22 {
    content: '22-24';
    flex: 0 1 91.6666666667%;
    width: 91.6666666667%;
  }

  .o-col-m-23 {
    content: '23-24';
    flex: 0 1 95.8333333333%;
    width: 95.8333333333%;
  }

  .o-col-m-24 {
    content: '24-24';
    flex: 0 1 100%;
    width: 100%;
  }
}

@media (min-width: 1000px) {
  .o-col-l-1 {
    content: '1-48';
    flex: 0 1 2.0833333333%;
    width: 2.0833333333%;
  }

  .o-col-l-2 {
    content: '2-48';
    flex: 0 1 4.1666666667%;
    width: 4.1666666667%;
  }

  .o-col-l-3 {
    content: '3-48';
    flex: 0 1 6.25%;
    width: 6.25%;
  }

  .o-col-l-4 {
    content: '4-48';
    flex: 0 1 8.3333333333%;
    width: 8.3333333333%;
  }

  .o-col-l-5 {
    content: '5-48';
    flex: 0 1 10.4166666667%;
    width: 10.4166666667%;
  }

  .o-col-l-6 {
    content: '6-48';
    flex: 0 1 12.5%;
    width: 12.5%;
  }

  .o-col-l-7 {
    content: '7-48';
    flex: 0 1 14.5833333333%;
    width: 14.5833333333%;
  }

  .o-col-l-8 {
    content: '8-48';
    flex: 0 1 16.6666666667%;
    width: 16.6666666667%;
  }

  .o-col-l-9 {
    content: '9-48';
    flex: 0 1 18.75%;
    width: 18.75%;
  }

  .o-col-l-10 {
    content: '10-48';
    flex: 0 1 20.8333333333%;
    width: 20.8333333333%;
  }

  .o-col-l-11 {
    content: '11-48';
    flex: 0 1 22.9166666667%;
    width: 22.9166666667%;
  }

  .o-col-l-12 {
    content: '12-48';
    flex: 0 1 25%;
    width: 25%;
  }

  .o-col-l-13 {
    content: '13-48';
    flex: 0 1 27.0833333333%;
    width: 27.0833333333%;
  }

  .o-col-l-14 {
    content: '14-48';
    flex: 0 1 29.1666666667%;
    width: 29.1666666667%;
  }

  .o-col-l-15 {
    content: '15-48';
    flex: 0 1 31.25%;
    width: 31.25%;
  }

  .o-col-l-16 {
    content: '16-48';
    flex: 0 1 33.3333333333%;
    width: 33.3333333333%;
  }

  .o-col-l-17 {
    content: '17-48';
    flex: 0 1 35.4166666667%;
    width: 35.4166666667%;
  }

  .o-col-l-18 {
    content: '18-48';
    flex: 0 1 37.5%;
    width: 37.5%;
  }

  .o-col-l-19 {
    content: '19-48';
    flex: 0 1 39.5833333333%;
    width: 39.5833333333%;
  }

  .o-col-l-20 {
    content: '20-48';
    flex: 0 1 41.6666666667%;
    width: 41.6666666667%;
  }

  .o-col-l-21 {
    content: '21-48';
    flex: 0 1 43.75%;
    width: 43.75%;
  }

  .o-col-l-22 {
    content: '22-48';
    flex: 0 1 45.8333333333%;
    width: 45.8333333333%;
  }

  .o-col-l-23 {
    content: '23-48';
    flex: 0 1 47.9166666667%;
    width: 47.9166666667%;
  }

  .o-col-l-24 {
    content: '24-48';
    flex: 0 1 50%;
    width: 50%;
  }

  .o-col-l-25 {
    content: '25-48';
    flex: 0 1 52.0833333333%;
    width: 52.0833333333%;
  }

  .o-col-l-26 {
    content: '26-48';
    flex: 0 1 54.1666666667%;
    width: 54.1666666667%;
  }

  .o-col-l-27 {
    content: '27-48';
    flex: 0 1 56.25%;
    width: 56.25%;
  }

  .o-col-l-28 {
    content: '28-48';
    flex: 0 1 58.3333333333%;
    width: 58.3333333333%;
  }

  .o-col-l-29 {
    content: '29-48';
    flex: 0 1 60.4166666667%;
    width: 60.4166666667%;
  }

  .o-col-l-30 {
    content: '30-48';
    flex: 0 1 62.5%;
    width: 62.5%;
  }

  .o-col-l-31 {
    content: '31-48';
    flex: 0 1 64.5833333333%;
    width: 64.5833333333%;
  }

  .o-col-l-32 {
    content: '32-48';
    flex: 0 1 66.6666666667%;
    width: 66.6666666667%;
  }

  .o-col-l-33 {
    content: '33-48';
    flex: 0 1 68.75%;
    width: 68.75%;
  }

  .o-col-l-34 {
    content: '34-48';
    flex: 0 1 70.8333333333%;
    width: 70.8333333333%;
  }

  .o-col-l-35 {
    content: '35-48';
    flex: 0 1 72.9166666667%;
    width: 72.9166666667%;
  }

  .o-col-l-36 {
    content: '36-48';
    flex: 0 1 75%;
    width: 75%;
  }

  .o-col-l-37 {
    content: '37-48';
    flex: 0 1 77.0833333333%;
    width: 77.0833333333%;
  }

  .o-col-l-38 {
    content: '38-48';
    flex: 0 1 79.1666666667%;
    width: 79.1666666667%;
  }

  .o-col-l-39 {
    content: '39-48';
    flex: 0 1 81.25%;
    width: 81.25%;
  }

  .o-col-l-40 {
    content: '40-48';
    flex: 0 1 83.3333333333%;
    width: 83.3333333333%;
  }

  .o-col-l-41 {
    content: '41-48';
    flex: 0 1 85.4166666667%;
    width: 85.4166666667%;
  }

  .o-col-l-42 {
    content: '42-48';
    flex: 0 1 87.5%;
    width: 87.5%;
  }

  .o-col-l-43 {
    content: '43-48';
    flex: 0 1 89.5833333333%;
    width: 89.5833333333%;
  }

  .o-col-l-44 {
    content: '44-48';
    flex: 0 1 91.6666666667%;
    width: 91.6666666667%;
  }

  .o-col-l-45 {
    content: '45-48';
    flex: 0 1 93.75%;
    width: 93.75%;
  }

  .o-col-l-46 {
    content: '46-48';
    flex: 0 1 95.8333333333%;
    width: 95.8333333333%;
  }

  .o-col-l-47 {
    content: '47-48';
    flex: 0 1 97.9166666667%;
    width: 97.9166666667%;
  }

  .o-col-l-48 {
    content: '48-48';
    flex: 0 1 100%;
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .o-col-max-1 {
    content: '1-48';
    flex: 0 1 2.0833333333%;
    width: 2.0833333333%;
  }

  .o-col-max-2 {
    content: '2-48';
    flex: 0 1 4.1666666667%;
    width: 4.1666666667%;
  }

  .o-col-max-3 {
    content: '3-48';
    flex: 0 1 6.25%;
    width: 6.25%;
  }

  .o-col-max-4 {
    content: '4-48';
    flex: 0 1 8.3333333333%;
    width: 8.3333333333%;
  }

  .o-col-max-5 {
    content: '5-48';
    flex: 0 1 10.4166666667%;
    width: 10.4166666667%;
  }

  .o-col-max-6 {
    content: '6-48';
    flex: 0 1 12.5%;
    width: 12.5%;
  }

  .o-col-max-7 {
    content: '7-48';
    flex: 0 1 14.5833333333%;
    width: 14.5833333333%;
  }

  .o-col-max-8 {
    content: '8-48';
    flex: 0 1 16.6666666667%;
    width: 16.6666666667%;
  }

  .o-col-max-9 {
    content: '9-48';
    flex: 0 1 18.75%;
    width: 18.75%;
  }

  .o-col-max-10 {
    content: '10-48';
    flex: 0 1 20.8333333333%;
    width: 20.8333333333%;
  }

  .o-col-max-11 {
    content: '11-48';
    flex: 0 1 22.9166666667%;
    width: 22.9166666667%;
  }

  .o-col-max-12 {
    content: '12-48';
    flex: 0 1 25%;
    width: 25%;
  }

  .o-col-max-13 {
    content: '13-48';
    flex: 0 1 27.0833333333%;
    width: 27.0833333333%;
  }

  .o-col-max-14 {
    content: '14-48';
    flex: 0 1 29.1666666667%;
    width: 29.1666666667%;
  }

  .o-col-max-15 {
    content: '15-48';
    flex: 0 1 31.25%;
    width: 31.25%;
  }

  .o-col-max-16 {
    content: '16-48';
    flex: 0 1 33.3333333333%;
    width: 33.3333333333%;
  }

  .o-col-max-17 {
    content: '17-48';
    flex: 0 1 35.4166666667%;
    width: 35.4166666667%;
  }

  .o-col-max-18 {
    content: '18-48';
    flex: 0 1 37.5%;
    width: 37.5%;
  }

  .o-col-max-19 {
    content: '19-48';
    flex: 0 1 39.5833333333%;
    width: 39.5833333333%;
  }

  .o-col-max-20 {
    content: '20-48';
    flex: 0 1 41.6666666667%;
    width: 41.6666666667%;
  }

  .o-col-max-21 {
    content: '21-48';
    flex: 0 1 43.75%;
    width: 43.75%;
  }

  .o-col-max-22 {
    content: '22-48';
    flex: 0 1 45.8333333333%;
    width: 45.8333333333%;
  }

  .o-col-max-23 {
    content: '23-48';
    flex: 0 1 47.9166666667%;
    width: 47.9166666667%;
  }

  .o-col-max-24 {
    content: '24-48';
    flex: 0 1 50%;
    width: 50%;
  }

  .o-col-max-25 {
    content: '25-48';
    flex: 0 1 52.0833333333%;
    width: 52.0833333333%;
  }

  .o-col-max-26 {
    content: '26-48';
    flex: 0 1 54.1666666667%;
    width: 54.1666666667%;
  }

  .o-col-max-27 {
    content: '27-48';
    flex: 0 1 56.25%;
    width: 56.25%;
  }

  .o-col-max-28 {
    content: '28-48';
    flex: 0 1 58.3333333333%;
    width: 58.3333333333%;
  }

  .o-col-max-29 {
    content: '29-48';
    flex: 0 1 60.4166666667%;
    width: 60.4166666667%;
  }

  .o-col-max-30 {
    content: '30-48';
    flex: 0 1 62.5%;
    width: 62.5%;
  }

  .o-col-max-31 {
    content: '31-48';
    flex: 0 1 64.5833333333%;
    width: 64.5833333333%;
  }

  .o-col-max-32 {
    content: '32-48';
    flex: 0 1 66.6666666667%;
    width: 66.6666666667%;
  }

  .o-col-max-33 {
    content: '33-48';
    flex: 0 1 68.75%;
    width: 68.75%;
  }

  .o-col-max-34 {
    content: '34-48';
    flex: 0 1 70.8333333333%;
    width: 70.8333333333%;
  }

  .o-col-max-35 {
    content: '35-48';
    flex: 0 1 72.9166666667%;
    width: 72.9166666667%;
  }

  .o-col-max-36 {
    content: '36-48';
    flex: 0 1 75%;
    width: 75%;
  }

  .o-col-max-37 {
    content: '37-48';
    flex: 0 1 77.0833333333%;
    width: 77.0833333333%;
  }

  .o-col-max-38 {
    content: '38-48';
    flex: 0 1 79.1666666667%;
    width: 79.1666666667%;
  }

  .o-col-max-39 {
    content: '39-48';
    flex: 0 1 81.25%;
    width: 81.25%;
  }

  .o-col-max-40 {
    content: '40-48';
    flex: 0 1 83.3333333333%;
    width: 83.3333333333%;
  }

  .o-col-max-41 {
    content: '41-48';
    flex: 0 1 85.4166666667%;
    width: 85.4166666667%;
  }

  .o-col-max-42 {
    content: '42-48';
    flex: 0 1 87.5%;
    width: 87.5%;
  }

  .o-col-max-43 {
    content: '43-48';
    flex: 0 1 89.5833333333%;
    width: 89.5833333333%;
  }

  .o-col-max-44 {
    content: '44-48';
    flex: 0 1 91.6666666667%;
    width: 91.6666666667%;
  }

  .o-col-max-45 {
    content: '45-48';
    flex: 0 1 93.75%;
    width: 93.75%;
  }

  .o-col-max-46 {
    content: '46-48';
    flex: 0 1 95.8333333333%;
    width: 95.8333333333%;
  }

  .o-col-max-47 {
    content: '47-48';
    flex: 0 1 97.9166666667%;
    width: 97.9166666667%;
  }

  .o-col-max-48 {
    content: '48-48';
    flex: 0 1 100%;
    width: 100%;
  }
}
