[class^='o-section'] {
  max-width: 1440px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 0;
  padding-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) {
  [class^='o-section'] {
    padding-left: calc(16px + 16 * (100vw - 320px) / (1120));
    padding-right: calc(16px + 16 * (100vw - 320px) / (1120));
  }
}

@media screen and (min-width: 1440px) {
  [class^='o-section'] {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 320px) {
  [class^='o-section'] {
    padding-bottom: calc(16px + 16 * (100vw - 320px) / (1120));
  }
}

@media screen and (min-width: 1440px) {
  [class^='o-section'] {
    padding-bottom: 32px;
  }
}

[class^='o-row'] {
  margin-left: -8px;
  margin-right: -8px;
  display: flex;
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 0;
}

@media screen and (min-width: 320px) {
  [class^='o-row'] {
    margin-left: calc(-8px + -8 * (100vw - 320px) / (1120));
    margin-right: calc(-8px + -8 * (100vw - 320px) / (1120));
  }
}

@media screen and (min-width: 1440px) {
  [class^='o-row'] {
    margin-left: -16px;
    margin-right: -16px;
  }
}

[class^='o-row'].no-padding > [class^='o-col'] {
  padding-left: 0px;
  padding-right: 0px;
}

@media screen and (min-width: 320px) {
  [class^='o-row'].no-padding > [class^='o-col'] {
    padding-left: calc(0px + 0 * (100vw - 320px) / (1120));
    padding-right: calc(0px + 0 * (100vw - 320px) / (1120));
  }
}

@media screen and (min-width: 1440px) {
  [class^='o-row'].no-padding > [class^='o-col'] {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.items-x-start {
  justify-content: flex-start;
}

.items-x-center {
  justify-content: center;
}

.items-x-end {
  justify-content: flex-end;
}

.items-x-around {
  justify-content: space-around;
}

.items-x-between {
  justify-content: space-between;
}

.items-y-start {
  align-items: flex-start;
}

.items-y-center {
  align-items: center;
}

.items-y-end {
  align-items: flex-end;
}

.items-y-stretch {
  align-items: stretch;
}

@media screen and (min-width: 320px) {
  .o-row {
    margin-left: -8px;
    margin-right: -8px;
    display: flex;
  }
}

@media screen and (min-width: 320px) and (min-width: 320px) {
  .o-row {
    margin-left: calc(-8px + -8 * (100vw - 320px) / (1120));
    margin-right: calc(-8px + -8 * (100vw - 320px) / (1120));
  }
}

@media screen and (min-width: 320px) and (min-width: 1440px) {
  .o-row {
    margin-left: -16px;
    margin-right: -16px;
  }
}

@media screen and (min-width: 400px) {
  .o-row {
    margin-left: -8px;
    margin-right: -8px;
    display: flex;
  }
}

@media screen and (min-width: 400px) and (min-width: 320px) {
  .o-row {
    margin-left: calc(-8px + -8 * (100vw - 320px) / (1120));
    margin-right: calc(-8px + -8 * (100vw - 320px) / (1120));
  }
}

@media screen and (min-width: 400px) and (min-width: 1440px) {
  .o-row {
    margin-left: -16px;
    margin-right: -16px;
  }
}

@media screen and (min-width: 600px) {
  .o-row {
    margin-left: -8px;
    margin-right: -8px;
    display: flex;
  }
}

@media screen and (min-width: 600px) and (min-width: 320px) {
  .o-row {
    margin-left: calc(-8px + -8 * (100vw - 320px) / (1120));
    margin-right: calc(-8px + -8 * (100vw - 320px) / (1120));
  }
}

@media screen and (min-width: 600px) and (min-width: 1440px) {
  .o-row {
    margin-left: -16px;
    margin-right: -16px;
  }
}

@media screen and (min-width: 800px) {
  .o-row {
    margin-left: -8px;
    margin-right: -8px;
    display: flex;
  }
}

@media screen and (min-width: 800px) and (min-width: 320px) {
  .o-row {
    margin-left: calc(-8px + -8 * (100vw - 320px) / (1120));
    margin-right: calc(-8px + -8 * (100vw - 320px) / (1120));
  }
}

@media screen and (min-width: 800px) and (min-width: 1440px) {
  .o-row {
    margin-left: -16px;
    margin-right: -16px;
  }
}

@media screen and (min-width: 1000px) {
  .o-row {
    margin-left: -8px;
    margin-right: -8px;
    display: flex;
  }
}

@media screen and (min-width: 1000px) and (min-width: 320px) {
  .o-row {
    margin-left: calc(-8px + -8 * (100vw - 320px) / (1120));
    margin-right: calc(-8px + -8 * (100vw - 320px) / (1120));
  }
}

@media screen and (min-width: 1000px) and (min-width: 1440px) {
  .o-row {
    margin-left: -16px;
    margin-right: -16px;
  }
}

@media screen and (min-width: 1440px) {
  .o-row {
    margin-left: -8px;
    margin-right: -8px;
    display: flex;
  }
}

@media screen and (min-width: 1440px) and (min-width: 320px) {
  .o-row {
    margin-left: calc(-8px + -8 * (100vw - 320px) / (1120));
    margin-right: calc(-8px + -8 * (100vw - 320px) / (1120));
  }
}

@media screen and (min-width: 1440px) and (min-width: 1440px) {
  .o-row {
    margin-left: -16px;
    margin-right: -16px;
  }
}

[class^='o-col-'] {
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
  min-height: 1px;
  flex: 1 1 0;
  max-width: none;
}

@media screen and (min-width: 320px) {
  [class^='o-col-'] {
    padding-left: calc(8px + 8 * (100vw - 320px) / (1120));
    padding-right: calc(8px + 8 * (100vw - 320px) / (1120));
  }
}

@media screen and (min-width: 1440px) {
  [class^='o-col-'] {
    padding-left: 16px;
    padding-right: 16px;
  }
}

[class1^='o-col'].no-padding {
  padding-left: 0px;
  padding-right: 0px;
}

@media screen and (min-width: 320px) {
  [class1^='o-col'].no-padding {
    padding-left: calc(0px + 0 * (100vw - 320px) / (1120));
    padding-right: calc(0px + 0 * (100vw - 320px) / (1120));
  }
}

@media screen and (min-width: 1440px) {
  [class1^='o-col'].no-padding {
    padding-left: 0px;
    padding-right: 0px;
  }
}

[class='o-col'] {
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
  min-height: 1px;
  flex: 1 1 0;
  max-width: none;
}

@media screen and (min-width: 320px) {
  [class='o-col'] {
    padding-left: calc(8px + 8 * (100vw - 320px) / (1120));
    padding-right: calc(8px + 8 * (100vw - 320px) / (1120));
  }
}

@media screen and (min-width: 1440px) {
  [class='o-col'] {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (min-width: 320px) {
  .o-col-1 {
    flex: 0 1 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .o-col-2 {
    flex: 0 1 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .o-col-3 {
    flex: 0 1 50%;
    max-width: 50%;
  }

  .o-col-4 {
    flex: 0 1 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .o-col-5 {
    flex: 0 1 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .o-col-6 {
    flex: 0 1 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 400px) {
  .o-col-xs-1 {
    flex: 0 1 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .o-col-xs-2 {
    flex: 0 1 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .o-col-xs-3 {
    flex: 0 1 50%;
    max-width: 50%;
  }

  .o-col-xs-4 {
    flex: 0 1 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .o-col-xs-5 {
    flex: 0 1 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .o-col-xs-6 {
    flex: 0 1 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 600px) {
  .o-col-s-1 {
    flex: 0 1 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .o-col-s-2 {
    flex: 0 1 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .o-col-s-3 {
    flex: 0 1 25%;
    max-width: 25%;
  }

  .o-col-s-4 {
    flex: 0 1 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .o-col-s-5 {
    flex: 0 1 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .o-col-s-6 {
    flex: 0 1 50%;
    max-width: 50%;
  }

  .o-col-s-7 {
    flex: 0 1 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .o-col-s-8 {
    flex: 0 1 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .o-col-s-9 {
    flex: 0 1 75%;
    max-width: 75%;
  }

  .o-col-s-10 {
    flex: 0 1 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .o-col-s-11 {
    flex: 0 1 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .o-col-s-12 {
    flex: 0 1 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 800px) {
  .o-col-m-1 {
    flex: 0 1 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .o-col-m-2 {
    flex: 0 1 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .o-col-m-3 {
    flex: 0 1 25%;
    max-width: 25%;
  }

  .o-col-m-4 {
    flex: 0 1 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .o-col-m-5 {
    flex: 0 1 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .o-col-m-6 {
    flex: 0 1 50%;
    max-width: 50%;
  }

  .o-col-m-7 {
    flex: 0 1 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .o-col-m-8 {
    flex: 0 1 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .o-col-m-9 {
    flex: 0 1 75%;
    max-width: 75%;
  }

  .o-col-m-10 {
    flex: 0 1 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .o-col-m-11 {
    flex: 0 1 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .o-col-m-12 {
    flex: 0 1 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 1000px) {
  .o-col-l-1 {
    flex: 0 1 4.1666666667%;
    max-width: 4.1666666667%;
  }

  .o-col-l-2 {
    flex: 0 1 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .o-col-l-3 {
    flex: 0 1 12.5%;
    max-width: 12.5%;
  }

  .o-col-l-4 {
    flex: 0 1 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .o-col-l-5 {
    flex: 0 1 20.8333333333%;
    max-width: 20.8333333333%;
  }

  .o-col-l-6 {
    flex: 0 1 25%;
    max-width: 25%;
  }

  .o-col-l-7 {
    flex: 0 1 29.1666666667%;
    max-width: 29.1666666667%;
  }

  .o-col-l-8 {
    flex: 0 1 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .o-col-l-9 {
    flex: 0 1 37.5%;
    max-width: 37.5%;
  }

  .o-col-l-10 {
    flex: 0 1 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .o-col-l-11 {
    flex: 0 1 45.8333333333%;
    max-width: 45.8333333333%;
  }

  .o-col-l-12 {
    flex: 0 1 50%;
    max-width: 50%;
  }

  .o-col-l-13 {
    flex: 0 1 54.1666666667%;
    max-width: 54.1666666667%;
  }

  .o-col-l-14 {
    flex: 0 1 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .o-col-l-15 {
    flex: 0 1 62.5%;
    max-width: 62.5%;
  }

  .o-col-l-16 {
    flex: 0 1 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .o-col-l-17 {
    flex: 0 1 70.8333333333%;
    max-width: 70.8333333333%;
  }

  .o-col-l-18 {
    flex: 0 1 75%;
    max-width: 75%;
  }

  .o-col-l-19 {
    flex: 0 1 79.1666666667%;
    max-width: 79.1666666667%;
  }

  .o-col-l-20 {
    flex: 0 1 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .o-col-l-21 {
    flex: 0 1 87.5%;
    max-width: 87.5%;
  }

  .o-col-l-22 {
    flex: 0 1 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .o-col-l-23 {
    flex: 0 1 95.8333333333%;
    max-width: 95.8333333333%;
  }

  .o-col-l-24 {
    flex: 0 1 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .o-col-max-1 {
    flex: 0 1 4.1666666667%;
    max-width: 4.1666666667%;
  }

  .o-col-max-2 {
    flex: 0 1 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .o-col-max-3 {
    flex: 0 1 12.5%;
    max-width: 12.5%;
  }

  .o-col-max-4 {
    flex: 0 1 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .o-col-max-5 {
    flex: 0 1 20.8333333333%;
    max-width: 20.8333333333%;
  }

  .o-col-max-6 {
    flex: 0 1 25%;
    max-width: 25%;
  }

  .o-col-max-7 {
    flex: 0 1 29.1666666667%;
    max-width: 29.1666666667%;
  }

  .o-col-max-8 {
    flex: 0 1 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .o-col-max-9 {
    flex: 0 1 37.5%;
    max-width: 37.5%;
  }

  .o-col-max-10 {
    flex: 0 1 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .o-col-max-11 {
    flex: 0 1 45.8333333333%;
    max-width: 45.8333333333%;
  }

  .o-col-max-12 {
    flex: 0 1 50%;
    max-width: 50%;
  }

  .o-col-max-13 {
    flex: 0 1 54.1666666667%;
    max-width: 54.1666666667%;
  }

  .o-col-max-14 {
    flex: 0 1 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .o-col-max-15 {
    flex: 0 1 62.5%;
    max-width: 62.5%;
  }

  .o-col-max-16 {
    flex: 0 1 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .o-col-max-17 {
    flex: 0 1 70.8333333333%;
    max-width: 70.8333333333%;
  }

  .o-col-max-18 {
    flex: 0 1 75%;
    max-width: 75%;
  }

  .o-col-max-19 {
    flex: 0 1 79.1666666667%;
    max-width: 79.1666666667%;
  }

  .o-col-max-20 {
    flex: 0 1 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .o-col-max-21 {
    flex: 0 1 87.5%;
    max-width: 87.5%;
  }

  .o-col-max-22 {
    flex: 0 1 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .o-col-max-23 {
    flex: 0 1 95.8333333333%;
    max-width: 95.8333333333%;
  }

  .o-col-max-24 {
    flex: 0 1 100%;
    max-width: 100%;
  }
}
