/*
 |--------------------------------------------------------------------------
 |  Row Classes
 |--------------------------------------------------------------------------
 */

// Imports
@import '../../../../node_modules/include-media/dist/include-media';
@import '../tools/mixin.make-row';
@import '../tools/mixin.make-col-padding';
@import '../tools/mixin.make-col-gap';
@import 'settings.variables';
@import 'settings.testing';

// Default Class Settings
[class*='#{$bk-prefix}-row'] {
  @if $bk-legacy == true or $bk-cssgrid == false {
    @include make-row();
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 0;
  }

  @if $bk-cssgrid == true {
    display: grid;
  }
}
// Error Handling
[class='#{$bk-prefix}-row'] {
  box-shadow: $bk-error-shadow;
}

[class*='#{$bk-prefix}-row']:not(.no-padding) {
  > [class*='#{$bk-prefix}-col'] {
    @include make-col-padding();
  }
}

// Creating Row Classes
@each $key, $value in $bk-breakpoints {
  $from: map-get($value, from);
  $cols: map-get($value, cols);
  $prefix: $bk-prefix;

  @include media('>=#{$from}') {
    .#{$prefix}-row {
      @include make-row($cols);
    }
  }
}
