/*
 |--------------------------------------------------------------------------
 |  Default Grid Settings
 |--------------------------------------------------------------------------
 */

$bk-grid-settings: (
  legacy: true,
  cssgrid: false,
  testing: true,
  prefix: 'o',
  units: (
    gutter: 8px,
    gutterMinFactor: 1,
    gutterMaxFactor: 2,
    gutterMinVerticalFactor: 1,
    gutterMaxVerticalFactor: 2
  ),
  breakpoints: (
    min: (from: 320px, to: 399px, cols: 4),
    xs:  (from: 400px, to: 599px, cols: 8),
    s:   (from: 600px, to: 799px, cols: 12),
    m:   (from: 800px, to: 999px, cols: 16),
    l:   (from: 1000px, to: 1439px, cols: 32),
    max: (from: 1440px, to: 0, cols: 64)
  )
) !default;
