/*
 |--------------------------------------------------------------------------
 |  Testing Classes
 |--------------------------------------------------------------------------
 */

// Imports
@import '../tools/mixin.vertical-spacing';

// Variables
$bk-background-color: white !default;
$bk-box-shadow-color: rgba(black, 1) !default;
$bk-border-radius: 3px !default;

%styling {
  @include make-vs();
}

%styling-section {
  $bk-box-shadow-color: rgba(blue, 1);

  @extend %styling;
  background-color: $bk-background-color;
  box-shadow: inset 0 0 0 3px  $bk-box-shadow-color;
  border-radius: $bk-border-radius;
}

%styling-row {
  $bk-box-shadow-color: rgba(magenta, 1);

  @extend %styling;
  background-color: $bk-background-color;
  box-shadow: inset 0 0 0 2px  $bk-box-shadow-color;
  border-radius: $bk-border-radius;
}

%styling-col {
  $bk-box-shadow-color: rgba(cyan, 1);

  @extend %styling;
  background-color: $bk-background-color;
  box-shadow: inset 0 0 0 1px  $bk-box-shadow-color;
  border-radius: $bk-border-radius;
}
