/*
 |--------------------------------------------------------------------------
 |  App.scss
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Section Classes
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Make Section Mixin
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Variables
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Map Deep Get Function
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Default Grid Settings
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Fluid Mixin
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Variables
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Map Deep Get Function
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Default Grid Settings
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Strip Unit Function
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Make Section Padding Mixin
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Variables
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Map Deep Get Function
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Default Grid Settings
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Fluid Mixin
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Variables
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Map Deep Get Function
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Default Grid Settings
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Strip Unit Function
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Center Mixin
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Variables
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Map Deep Get Function
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Default Grid Settings
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Testing Classes
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Vertical Spacing Mixin
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Variables
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Map Deep Get Function
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Default Grid Settings
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Fluid Mixin
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Variables
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Map Deep Get Function
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Default Grid Settings
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Strip Unit Function
 |--------------------------------------------------------------------------
 */
[class*='o-section'], [class*='o-row'], [class*='o-col'] {
  margin-top: 16px;
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0 0 1px black;
  border-radius: 5px; }
  @media screen and (min-width: 320px) {
    [class*='o-section'], [class*='o-row'], [class*='o-col'] {
      margin-top: calc(16px + 16 * (100vw - 320px) / (1120)); } }
  @media screen and (min-width: 1440px) {
    [class*='o-section'], [class*='o-row'], [class*='o-col'] {
      margin-top: 32px; } }

[class*='o-section'] {
  display: grid;
  max-width: 1440px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 0;
  padding-bottom: 16px;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 320px) {
    [class*='o-section'] {
      padding-left: calc(16px + 16 * (100vw - 320px) / (1120));
      padding-right: calc(16px + 16 * (100vw - 320px) / (1120)); } }
  @media screen and (min-width: 1440px) {
    [class*='o-section'] {
      padding-left: 32px;
      padding-right: 32px; } }
  @media screen and (min-width: 320px) {
    [class*='o-section'] {
      padding-bottom: calc(16px + 16 * (100vw - 320px) / (1120)); } }
  @media screen and (min-width: 1440px) {
    [class*='o-section'] {
      padding-bottom: 32px; } }

/*
 |--------------------------------------------------------------------------
 |  Row Classes
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Make Row Mixin
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Variables
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Map Deep Get Function
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Default Grid Settings
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Fluid Mixin
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Variables
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Map Deep Get Function
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Default Grid Settings
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Strip Unit Function
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Make Col Padding Mixin
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Variables
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Map Deep Get Function
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Default Grid Settings
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Fluid Mixin
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Variables
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Map Deep Get Function
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Default Grid Settings
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Strip Unit Function
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Make Col Gap Mixin
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Variables
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Map Deep Get Function
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Default Grid Settings
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Fluid Mixin
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Variables
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Map Deep Get Function
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Default Grid Settings
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Strip Unit Function
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Variables
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Map Deep Get Function
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Default Grid Settings
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Testing Classes
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Vertical Spacing Mixin
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Variables
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Map Deep Get Function
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Default Grid Settings
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Fluid Mixin
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Variables
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Map Deep Get Function
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Default Grid Settings
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Strip Unit Function
 |--------------------------------------------------------------------------
 */
[class*='o-section'], [class*='o-row'], [class*='o-col'] {
  margin-top: 16px;
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0 0 1px black;
  border-radius: 5px; }
  @media screen and (min-width: 320px) {
    [class*='o-section'], [class*='o-row'], [class*='o-col'] {
      margin-top: calc(16px + 16 * (100vw - 320px) / (1120)); } }
  @media screen and (min-width: 1440px) {
    [class*='o-section'], [class*='o-row'], [class*='o-col'] {
      margin-top: 32px; } }

[class*='o-row'] {
  display: grid; }
  @supports (display: grid) {
    [class*='o-row'] {
      margin-left: 0;
      margin-right: 0; } }

[class*='o-row']:not(.no-padding) {
  grid-column-gap: 16px; }
  [class*='o-row']:not(.no-padding) > [class*='o-col'] {
    padding-left: 0px;
    padding-right: 0px; }
    @media screen and (min-width: 320px) {
      [class*='o-row']:not(.no-padding) > [class*='o-col'] {
        padding-left: calc(0px + 0 * (100vw - 320px) / (1120));
        padding-right: calc(0px + 0 * (100vw - 320px) / (1120)); } }
    @media screen and (min-width: 1440px) {
      [class*='o-row']:not(.no-padding) > [class*='o-col'] {
        padding-left: 0px;
        padding-right: 0px; } }
  @media screen and (min-width: 320px) {
    [class*='o-row']:not(.no-padding) {
      grid-column-gap: calc(16px + 16 * (100vw - 320px) / (1120)); } }
  @media screen and (min-width: 1440px) {
    [class*='o-row']:not(.no-padding) {
      grid-column-gap: 32px; } }

@media (min-width: 320px) {
  .o-row-1 {
    grid-template-columns: repeat(1, 1fr); }
  .o-row-2 {
    grid-template-columns: repeat(2, 1fr); }
  .o-row-3 {
    grid-template-columns: repeat(3, 1fr); }
  .o-row-4 {
    grid-template-columns: repeat(4, 1fr); } }

@media (min-width: 400px) {
  .o-row-xs-1 {
    grid-template-columns: repeat(1, 1fr); }
  .o-row-xs-2 {
    grid-template-columns: repeat(2, 1fr); }
  .o-row-xs-3 {
    grid-template-columns: repeat(3, 1fr); }
  .o-row-xs-4 {
    grid-template-columns: repeat(4, 1fr); }
  .o-row-xs-5 {
    grid-template-columns: repeat(5, 1fr); }
  .o-row-xs-6 {
    grid-template-columns: repeat(6, 1fr); }
  .o-row-xs-7 {
    grid-template-columns: repeat(7, 1fr); }
  .o-row-xs-8 {
    grid-template-columns: repeat(8, 1fr); } }

@media (min-width: 600px) {
  .o-row-s-1 {
    grid-template-columns: repeat(1, 1fr); }
  .o-row-s-2 {
    grid-template-columns: repeat(2, 1fr); }
  .o-row-s-3 {
    grid-template-columns: repeat(3, 1fr); }
  .o-row-s-4 {
    grid-template-columns: repeat(4, 1fr); }
  .o-row-s-5 {
    grid-template-columns: repeat(5, 1fr); }
  .o-row-s-6 {
    grid-template-columns: repeat(6, 1fr); }
  .o-row-s-7 {
    grid-template-columns: repeat(7, 1fr); }
  .o-row-s-8 {
    grid-template-columns: repeat(8, 1fr); }
  .o-row-s-9 {
    grid-template-columns: repeat(9, 1fr); }
  .o-row-s-10 {
    grid-template-columns: repeat(10, 1fr); }
  .o-row-s-11 {
    grid-template-columns: repeat(11, 1fr); }
  .o-row-s-12 {
    grid-template-columns: repeat(12, 1fr); } }

@media (min-width: 800px) {
  .o-row-m-1 {
    grid-template-columns: repeat(1, 1fr); }
  .o-row-m-2 {
    grid-template-columns: repeat(2, 1fr); }
  .o-row-m-3 {
    grid-template-columns: repeat(3, 1fr); }
  .o-row-m-4 {
    grid-template-columns: repeat(4, 1fr); }
  .o-row-m-5 {
    grid-template-columns: repeat(5, 1fr); }
  .o-row-m-6 {
    grid-template-columns: repeat(6, 1fr); }
  .o-row-m-7 {
    grid-template-columns: repeat(7, 1fr); }
  .o-row-m-8 {
    grid-template-columns: repeat(8, 1fr); }
  .o-row-m-9 {
    grid-template-columns: repeat(9, 1fr); }
  .o-row-m-10 {
    grid-template-columns: repeat(10, 1fr); }
  .o-row-m-11 {
    grid-template-columns: repeat(11, 1fr); }
  .o-row-m-12 {
    grid-template-columns: repeat(12, 1fr); }
  .o-row-m-13 {
    grid-template-columns: repeat(13, 1fr); }
  .o-row-m-14 {
    grid-template-columns: repeat(14, 1fr); }
  .o-row-m-15 {
    grid-template-columns: repeat(15, 1fr); }
  .o-row-m-16 {
    grid-template-columns: repeat(16, 1fr); } }

@media (min-width: 1000px) {
  .o-row-l-1 {
    grid-template-columns: repeat(1, 1fr); }
  .o-row-l-2 {
    grid-template-columns: repeat(2, 1fr); }
  .o-row-l-3 {
    grid-template-columns: repeat(3, 1fr); }
  .o-row-l-4 {
    grid-template-columns: repeat(4, 1fr); }
  .o-row-l-5 {
    grid-template-columns: repeat(5, 1fr); }
  .o-row-l-6 {
    grid-template-columns: repeat(6, 1fr); }
  .o-row-l-7 {
    grid-template-columns: repeat(7, 1fr); }
  .o-row-l-8 {
    grid-template-columns: repeat(8, 1fr); }
  .o-row-l-9 {
    grid-template-columns: repeat(9, 1fr); }
  .o-row-l-10 {
    grid-template-columns: repeat(10, 1fr); }
  .o-row-l-11 {
    grid-template-columns: repeat(11, 1fr); }
  .o-row-l-12 {
    grid-template-columns: repeat(12, 1fr); }
  .o-row-l-13 {
    grid-template-columns: repeat(13, 1fr); }
  .o-row-l-14 {
    grid-template-columns: repeat(14, 1fr); }
  .o-row-l-15 {
    grid-template-columns: repeat(15, 1fr); }
  .o-row-l-16 {
    grid-template-columns: repeat(16, 1fr); }
  .o-row-l-17 {
    grid-template-columns: repeat(17, 1fr); }
  .o-row-l-18 {
    grid-template-columns: repeat(18, 1fr); }
  .o-row-l-19 {
    grid-template-columns: repeat(19, 1fr); }
  .o-row-l-20 {
    grid-template-columns: repeat(20, 1fr); }
  .o-row-l-21 {
    grid-template-columns: repeat(21, 1fr); }
  .o-row-l-22 {
    grid-template-columns: repeat(22, 1fr); }
  .o-row-l-23 {
    grid-template-columns: repeat(23, 1fr); }
  .o-row-l-24 {
    grid-template-columns: repeat(24, 1fr); }
  .o-row-l-25 {
    grid-template-columns: repeat(25, 1fr); }
  .o-row-l-26 {
    grid-template-columns: repeat(26, 1fr); }
  .o-row-l-27 {
    grid-template-columns: repeat(27, 1fr); }
  .o-row-l-28 {
    grid-template-columns: repeat(28, 1fr); }
  .o-row-l-29 {
    grid-template-columns: repeat(29, 1fr); }
  .o-row-l-30 {
    grid-template-columns: repeat(30, 1fr); }
  .o-row-l-31 {
    grid-template-columns: repeat(31, 1fr); }
  .o-row-l-32 {
    grid-template-columns: repeat(32, 1fr); } }

@media (min-width: 1440px) {
  .o-row-max-1 {
    grid-template-columns: repeat(1, 1fr); }
  .o-row-max-2 {
    grid-template-columns: repeat(2, 1fr); }
  .o-row-max-3 {
    grid-template-columns: repeat(3, 1fr); }
  .o-row-max-4 {
    grid-template-columns: repeat(4, 1fr); }
  .o-row-max-5 {
    grid-template-columns: repeat(5, 1fr); }
  .o-row-max-6 {
    grid-template-columns: repeat(6, 1fr); }
  .o-row-max-7 {
    grid-template-columns: repeat(7, 1fr); }
  .o-row-max-8 {
    grid-template-columns: repeat(8, 1fr); }
  .o-row-max-9 {
    grid-template-columns: repeat(9, 1fr); }
  .o-row-max-10 {
    grid-template-columns: repeat(10, 1fr); }
  .o-row-max-11 {
    grid-template-columns: repeat(11, 1fr); }
  .o-row-max-12 {
    grid-template-columns: repeat(12, 1fr); }
  .o-row-max-13 {
    grid-template-columns: repeat(13, 1fr); }
  .o-row-max-14 {
    grid-template-columns: repeat(14, 1fr); }
  .o-row-max-15 {
    grid-template-columns: repeat(15, 1fr); }
  .o-row-max-16 {
    grid-template-columns: repeat(16, 1fr); }
  .o-row-max-17 {
    grid-template-columns: repeat(17, 1fr); }
  .o-row-max-18 {
    grid-template-columns: repeat(18, 1fr); }
  .o-row-max-19 {
    grid-template-columns: repeat(19, 1fr); }
  .o-row-max-20 {
    grid-template-columns: repeat(20, 1fr); }
  .o-row-max-21 {
    grid-template-columns: repeat(21, 1fr); }
  .o-row-max-22 {
    grid-template-columns: repeat(22, 1fr); }
  .o-row-max-23 {
    grid-template-columns: repeat(23, 1fr); }
  .o-row-max-24 {
    grid-template-columns: repeat(24, 1fr); }
  .o-row-max-25 {
    grid-template-columns: repeat(25, 1fr); }
  .o-row-max-26 {
    grid-template-columns: repeat(26, 1fr); }
  .o-row-max-27 {
    grid-template-columns: repeat(27, 1fr); }
  .o-row-max-28 {
    grid-template-columns: repeat(28, 1fr); }
  .o-row-max-29 {
    grid-template-columns: repeat(29, 1fr); }
  .o-row-max-30 {
    grid-template-columns: repeat(30, 1fr); }
  .o-row-max-31 {
    grid-template-columns: repeat(31, 1fr); }
  .o-row-max-32 {
    grid-template-columns: repeat(32, 1fr); }
  .o-row-max-33 {
    grid-template-columns: repeat(33, 1fr); }
  .o-row-max-34 {
    grid-template-columns: repeat(34, 1fr); }
  .o-row-max-35 {
    grid-template-columns: repeat(35, 1fr); }
  .o-row-max-36 {
    grid-template-columns: repeat(36, 1fr); }
  .o-row-max-37 {
    grid-template-columns: repeat(37, 1fr); }
  .o-row-max-38 {
    grid-template-columns: repeat(38, 1fr); }
  .o-row-max-39 {
    grid-template-columns: repeat(39, 1fr); }
  .o-row-max-40 {
    grid-template-columns: repeat(40, 1fr); }
  .o-row-max-41 {
    grid-template-columns: repeat(41, 1fr); }
  .o-row-max-42 {
    grid-template-columns: repeat(42, 1fr); }
  .o-row-max-43 {
    grid-template-columns: repeat(43, 1fr); }
  .o-row-max-44 {
    grid-template-columns: repeat(44, 1fr); }
  .o-row-max-45 {
    grid-template-columns: repeat(45, 1fr); }
  .o-row-max-46 {
    grid-template-columns: repeat(46, 1fr); }
  .o-row-max-47 {
    grid-template-columns: repeat(47, 1fr); }
  .o-row-max-48 {
    grid-template-columns: repeat(48, 1fr); }
  .o-row-max-49 {
    grid-template-columns: repeat(49, 1fr); }
  .o-row-max-50 {
    grid-template-columns: repeat(50, 1fr); }
  .o-row-max-51 {
    grid-template-columns: repeat(51, 1fr); }
  .o-row-max-52 {
    grid-template-columns: repeat(52, 1fr); }
  .o-row-max-53 {
    grid-template-columns: repeat(53, 1fr); }
  .o-row-max-54 {
    grid-template-columns: repeat(54, 1fr); }
  .o-row-max-55 {
    grid-template-columns: repeat(55, 1fr); }
  .o-row-max-56 {
    grid-template-columns: repeat(56, 1fr); }
  .o-row-max-57 {
    grid-template-columns: repeat(57, 1fr); }
  .o-row-max-58 {
    grid-template-columns: repeat(58, 1fr); }
  .o-row-max-59 {
    grid-template-columns: repeat(59, 1fr); }
  .o-row-max-60 {
    grid-template-columns: repeat(60, 1fr); }
  .o-row-max-61 {
    grid-template-columns: repeat(61, 1fr); }
  .o-row-max-62 {
    grid-template-columns: repeat(62, 1fr); }
  .o-row-max-63 {
    grid-template-columns: repeat(63, 1fr); }
  .o-row-max-64 {
    grid-template-columns: repeat(64, 1fr); } }

/*
 |--------------------------------------------------------------------------
 |  Col Classes
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Make Col Mixin
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Variables
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Map Deep Get Function
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Default Grid Settings
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Variables
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Map Deep Get Function
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Default Grid Settings
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Testing Classes
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Vertical Spacing Mixin
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Variables
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Map Deep Get Function
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Default Grid Settings
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Fluid Mixin
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Variables
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Map Deep Get Function
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Default Grid Settings
 |--------------------------------------------------------------------------
 */
/*
 |--------------------------------------------------------------------------
 |  Strip Unit Function
 |--------------------------------------------------------------------------
 */
[class*='o-section'], [class*='o-row'], [class*='o-col'] {
  margin-top: 16px;
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0 0 1px black;
  border-radius: 5px; }
  @media screen and (min-width: 320px) {
    [class*='o-section'], [class*='o-row'], [class*='o-col'] {
      margin-top: calc(16px + 16 * (100vw - 320px) / (1120)); } }
  @media screen and (min-width: 1440px) {
    [class*='o-section'], [class*='o-row'], [class*='o-col'] {
      margin-top: 32px; } }

[class*='o-col'] {
  grid-column-start: auto;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 16px;
  padding-bottom: 16px; }
  @media screen and (min-width: 320px) {
    [class*='o-col'] {
      padding-left: calc(0px + 0 * (100vw - 320px) / (1120));
      padding-right: calc(0px + 0 * (100vw - 320px) / (1120)); } }
  @media screen and (min-width: 1440px) {
    [class*='o-col'] {
      padding-left: 0px;
      padding-right: 0px; } }
  @media screen and (min-width: 320px) {
    [class*='o-col'] {
      padding-top: calc(16px + 16 * (100vw - 320px) / (1120));
      padding-bottom: calc(16px + 16 * (100vw - 320px) / (1120)); } }
  @media screen and (min-width: 1440px) {
    [class*='o-col'] {
      padding-top: 32px;
      padding-bottom: 32px; } }

@media (min-width: 320px) {
  .o-col-1 {
    grid-column-end: span 1; }
  .o-col-2 {
    grid-column-end: span 2; }
  .o-col-3 {
    grid-column-end: span 3; }
  .o-col-4 {
    grid-column-end: span 4; } }

@media (min-width: 400px) {
  .o-col-xs-1 {
    grid-column-end: span 1; }
  .o-col-xs-2 {
    grid-column-end: span 2; }
  .o-col-xs-3 {
    grid-column-end: span 3; }
  .o-col-xs-4 {
    grid-column-end: span 4; }
  .o-col-xs-5 {
    grid-column-end: span 5; }
  .o-col-xs-6 {
    grid-column-end: span 6; }
  .o-col-xs-7 {
    grid-column-end: span 7; }
  .o-col-xs-8 {
    grid-column-end: span 8; } }

@media (min-width: 600px) {
  .o-col-s-1 {
    grid-column-end: span 1; }
  .o-col-s-2 {
    grid-column-end: span 2; }
  .o-col-s-3 {
    grid-column-end: span 3; }
  .o-col-s-4 {
    grid-column-end: span 4; }
  .o-col-s-5 {
    grid-column-end: span 5; }
  .o-col-s-6 {
    grid-column-end: span 6; }
  .o-col-s-7 {
    grid-column-end: span 7; }
  .o-col-s-8 {
    grid-column-end: span 8; }
  .o-col-s-9 {
    grid-column-end: span 9; }
  .o-col-s-10 {
    grid-column-end: span 10; }
  .o-col-s-11 {
    grid-column-end: span 11; }
  .o-col-s-12 {
    grid-column-end: span 12; } }

@media (min-width: 800px) {
  .o-col-m-1 {
    grid-column-end: span 1; }
  .o-col-m-2 {
    grid-column-end: span 2; }
  .o-col-m-3 {
    grid-column-end: span 3; }
  .o-col-m-4 {
    grid-column-end: span 4; }
  .o-col-m-5 {
    grid-column-end: span 5; }
  .o-col-m-6 {
    grid-column-end: span 6; }
  .o-col-m-7 {
    grid-column-end: span 7; }
  .o-col-m-8 {
    grid-column-end: span 8; }
  .o-col-m-9 {
    grid-column-end: span 9; }
  .o-col-m-10 {
    grid-column-end: span 10; }
  .o-col-m-11 {
    grid-column-end: span 11; }
  .o-col-m-12 {
    grid-column-end: span 12; }
  .o-col-m-13 {
    grid-column-end: span 13; }
  .o-col-m-14 {
    grid-column-end: span 14; }
  .o-col-m-15 {
    grid-column-end: span 15; }
  .o-col-m-16 {
    grid-column-end: span 16; } }

@media (min-width: 1000px) {
  .o-col-l-1 {
    grid-column-end: span 1; }
  .o-col-l-2 {
    grid-column-end: span 2; }
  .o-col-l-3 {
    grid-column-end: span 3; }
  .o-col-l-4 {
    grid-column-end: span 4; }
  .o-col-l-5 {
    grid-column-end: span 5; }
  .o-col-l-6 {
    grid-column-end: span 6; }
  .o-col-l-7 {
    grid-column-end: span 7; }
  .o-col-l-8 {
    grid-column-end: span 8; }
  .o-col-l-9 {
    grid-column-end: span 9; }
  .o-col-l-10 {
    grid-column-end: span 10; }
  .o-col-l-11 {
    grid-column-end: span 11; }
  .o-col-l-12 {
    grid-column-end: span 12; }
  .o-col-l-13 {
    grid-column-end: span 13; }
  .o-col-l-14 {
    grid-column-end: span 14; }
  .o-col-l-15 {
    grid-column-end: span 15; }
  .o-col-l-16 {
    grid-column-end: span 16; }
  .o-col-l-17 {
    grid-column-end: span 17; }
  .o-col-l-18 {
    grid-column-end: span 18; }
  .o-col-l-19 {
    grid-column-end: span 19; }
  .o-col-l-20 {
    grid-column-end: span 20; }
  .o-col-l-21 {
    grid-column-end: span 21; }
  .o-col-l-22 {
    grid-column-end: span 22; }
  .o-col-l-23 {
    grid-column-end: span 23; }
  .o-col-l-24 {
    grid-column-end: span 24; }
  .o-col-l-25 {
    grid-column-end: span 25; }
  .o-col-l-26 {
    grid-column-end: span 26; }
  .o-col-l-27 {
    grid-column-end: span 27; }
  .o-col-l-28 {
    grid-column-end: span 28; }
  .o-col-l-29 {
    grid-column-end: span 29; }
  .o-col-l-30 {
    grid-column-end: span 30; }
  .o-col-l-31 {
    grid-column-end: span 31; }
  .o-col-l-32 {
    grid-column-end: span 32; } }

@media (min-width: 1440px) {
  .o-col-max-1 {
    grid-column-end: span 1; }
  .o-col-max-2 {
    grid-column-end: span 2; }
  .o-col-max-3 {
    grid-column-end: span 3; }
  .o-col-max-4 {
    grid-column-end: span 4; }
  .o-col-max-5 {
    grid-column-end: span 5; }
  .o-col-max-6 {
    grid-column-end: span 6; }
  .o-col-max-7 {
    grid-column-end: span 7; }
  .o-col-max-8 {
    grid-column-end: span 8; }
  .o-col-max-9 {
    grid-column-end: span 9; }
  .o-col-max-10 {
    grid-column-end: span 10; }
  .o-col-max-11 {
    grid-column-end: span 11; }
  .o-col-max-12 {
    grid-column-end: span 12; }
  .o-col-max-13 {
    grid-column-end: span 13; }
  .o-col-max-14 {
    grid-column-end: span 14; }
  .o-col-max-15 {
    grid-column-end: span 15; }
  .o-col-max-16 {
    grid-column-end: span 16; }
  .o-col-max-17 {
    grid-column-end: span 17; }
  .o-col-max-18 {
    grid-column-end: span 18; }
  .o-col-max-19 {
    grid-column-end: span 19; }
  .o-col-max-20 {
    grid-column-end: span 20; }
  .o-col-max-21 {
    grid-column-end: span 21; }
  .o-col-max-22 {
    grid-column-end: span 22; }
  .o-col-max-23 {
    grid-column-end: span 23; }
  .o-col-max-24 {
    grid-column-end: span 24; }
  .o-col-max-25 {
    grid-column-end: span 25; }
  .o-col-max-26 {
    grid-column-end: span 26; }
  .o-col-max-27 {
    grid-column-end: span 27; }
  .o-col-max-28 {
    grid-column-end: span 28; }
  .o-col-max-29 {
    grid-column-end: span 29; }
  .o-col-max-30 {
    grid-column-end: span 30; }
  .o-col-max-31 {
    grid-column-end: span 31; }
  .o-col-max-32 {
    grid-column-end: span 32; }
  .o-col-max-33 {
    grid-column-end: span 33; }
  .o-col-max-34 {
    grid-column-end: span 34; }
  .o-col-max-35 {
    grid-column-end: span 35; }
  .o-col-max-36 {
    grid-column-end: span 36; }
  .o-col-max-37 {
    grid-column-end: span 37; }
  .o-col-max-38 {
    grid-column-end: span 38; }
  .o-col-max-39 {
    grid-column-end: span 39; }
  .o-col-max-40 {
    grid-column-end: span 40; }
  .o-col-max-41 {
    grid-column-end: span 41; }
  .o-col-max-42 {
    grid-column-end: span 42; }
  .o-col-max-43 {
    grid-column-end: span 43; }
  .o-col-max-44 {
    grid-column-end: span 44; }
  .o-col-max-45 {
    grid-column-end: span 45; }
  .o-col-max-46 {
    grid-column-end: span 46; }
  .o-col-max-47 {
    grid-column-end: span 47; }
  .o-col-max-48 {
    grid-column-end: span 48; }
  .o-col-max-49 {
    grid-column-end: span 49; }
  .o-col-max-50 {
    grid-column-end: span 50; }
  .o-col-max-51 {
    grid-column-end: span 51; }
  .o-col-max-52 {
    grid-column-end: span 52; }
  .o-col-max-53 {
    grid-column-end: span 53; }
  .o-col-max-54 {
    grid-column-end: span 54; }
  .o-col-max-55 {
    grid-column-end: span 55; }
  .o-col-max-56 {
    grid-column-end: span 56; }
  .o-col-max-57 {
    grid-column-end: span 57; }
  .o-col-max-58 {
    grid-column-end: span 58; }
  .o-col-max-59 {
    grid-column-end: span 59; }
  .o-col-max-60 {
    grid-column-end: span 60; }
  .o-col-max-61 {
    grid-column-end: span 61; }
  .o-col-max-62 {
    grid-column-end: span 62; }
  .o-col-max-63 {
    grid-column-end: span 63; }
  .o-col-max-64 {
    grid-column-end: span 64; } }

/*# sourceMappingURL=maps/app.css.map */
